@model TCMPLApp.WebApp.Models.NewCabinBookingCreateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Bookings"
      asp-action="NewGuestCabinBooking"
      id="formNewGuestCabinBooking"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">


    <div class="modal-header">
        <h5 class="modal-title"> @localizer["Guest Cabin Booking"]   </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Guest Cabin Booking</h5>
            </div>
            <div class="card-block ">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="BookingDate" class="control-label"></label>
                            <select asp-for="BookingDate" class="form-control chosen-select Select2" data-placeholder="Please select..."
                                    asp-items="ViewBag.BookingDatesList" required>
                                <option value="" hidden>Please select...</option>
                            </select>
                            <span asp-validation-for="BookingDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="GuestName" class="control-label" id="guestname"></label>
                            <input asp-for="GuestName" class="form-control" placeholder="Enter Guest Name" required />
                            <span asp-validation-for="GuestName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="Deskid" class="control-label"></label>
                            <select asp-for="Deskid" id="Deskid" class="form-control chosen-select Select2" data-placeholder="Please select..." required>
                                <option selected>Please select...</option>
                            </select>
                            <span asp-validation-for="Deskid" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnsubmit"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
    <div id="results" style="display:none">@TempData["Message"]</div>
</form>