@model TCMPLApp.WebApp.Models.DeskBookEmployeeProjectMappingCreateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Bookings"
      asp-action="EmployeeProjectMappingCreate"
      id="formNewEmployeeProjectMappingCreate"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-success="PostSaveReLoadDataTable(data)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Create employee project mapping"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["Create employee project mapping "]</h5>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Empno" class="control-label"></label>
                            <select asp-for="Empno" class="form-control chosen-select" data-placeholder="Please select..." asp-items="ViewBag.EmployeeList" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Empno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Projno" class="control-label"></label>
                            <select asp-for="Projno" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.ProjectList" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Projno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>