@model TCMPLApp.WebApp.Models.DeskBookHistoryViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Desk Book History";

}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="DeskBooking">Desk Booking</a></li>
        <li class="breadcrumb-item active">Desk Book History</li>
    </ol>
}

@section styles
{
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Desk booking history";
}

<div>
    <div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
        <div class="app-h4 app-card-header mb-2">
            <p>Desk book history</p>
        </div>
        <div class="m-1"></div>
        <div class="bg-gray-active rounded ">
            <div class="input-group pt-1 pl-1 pr-1 ">
                <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch"
                       placeholder="Search employee no or name...">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <table id="tbDeskBookHistory" class="table table-bordered table-responsive-lg ">
                <thead class="bg-info text-white">
                    <tr role="row">
                        <th> @Html.DisplayNameFor(model => model.EmpName) </th>
                        <th> @Html.DisplayNameFor(model => model.AttendanceDate) </th>
                        <th> @Html.DisplayNameFor(model => model.Deskid) </th>
                        <th> @Html.DisplayNameFor(model => model.Office) </th>
                        <th> @Html.DisplayNameFor(model => model.Shiftcode) </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            loadDeskBookHistoryDataTable();
        });

        function localScript() {
            initSelect2();
        };

        let vVUloadDeskBookHistoryDataTableList = "@Url.Action("GetListsDeskBookHistoryList", "Bookings")";

        function loadDeskBookHistoryDataTable() {
            genericLoadDataTable({
                pDataTableId: "#tbDeskBookHistory",
                pColumns: datatableDeskBookHistoryColumns,
                pUrl: vVUloadDeskBookHistoryDataTableList,
                pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,
                },
                pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

            });
        };

        @if ((bool)@Context.Items["isMobile"] == false)
        {
            <text>
                let datatableDeskBookHistoryColumns = [
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.empno + " - " + data.empName
                        },
                    },
                    {
                        data: "attendanceDate",
                        width: '10.0rem',
                        render: function (data, type, row) {
                            if (data)
                                return moment(data).format("DD-MMM-YYYY");
                            else
                                return '';
                        }
                    },
                    { data: "deskid" },
                    { data: "office" },
                    { data: "shiftcode" },

                ];
            </text>
        }

            $("#GenericSearch").keypress(function (event) {
                if (event.keyCode === 13) {
                    if ($("#GenericSearch").length) {
                        loadDeskBookHistoryDataTable();
                    }
                }
            });

        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                loadDeskBookHistoryDataTable();
            }
        });
    </script>
}