@model TCMPLApp.WebApp.Models.FilterDataModel;
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

<form id="CvFilterSet"
      asp-area="ERS"
      asp-controller="HR"
      asp-action="CvFilterSet"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);"
      data-ajax-success="PostFilterReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.IsFiltered" />
    <input type="hidden" asp-for="@Model.OpenFromDate" />
    <input type="hidden" asp-for="@Model.OpenToDate" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Filter"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["Filters setup"]</h5>
            </div>
            <div class="card-toolbar-modal">
            </div>
            <div class="card-block">
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control chosen-select" data-placeholder="Status" asp-items="ViewBag.Status">
                        <option selected></option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="JobRefCode" class="control-label"></label>
                    <select asp-for="JobRefCode" class="form-control chosen-select" data-placeholder="Job reference" asp-items="ViewBag.JobReference">
                        <option selected></option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <select asp-for="Location" class="form-control chosen-select" data-placeholder="Location" asp-items="ViewBag.Location">
                        <option selected></option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="OpenFromDate" class="control-label"></label>
                    <input id="openFromDateFilter" class="form-control datepickerFilter" placeholder="@localizer["From date"]" value="@Model.OpenFromDate?.ToString("DD-MMM-YYYY")" />
                </div>
                <div class="form-group ">
                    <label asp-for="OpenToDate" class="control-label"></label>
                    <input id="openToDateFilter" class="form-control datepickerFilter" placeholder="@localizer["To date"]" value="@Model.OpenToDate?.ToString("DD-MMM-YYYY")" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>