@model TCMPLApp.WebApp.Models.WorkAreaCreateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer
@{
    //const int CoreOnDutyCreateEditDeleteId = 174;

    UserIdentity currentUserIdentity = CurrentUserIdentity;
}

<form asp-controller="SWP"
      asp-action="OfficeWorkAreasPostDesk"
      id="formOfficeWorkSpaceWorkAreaDesks"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSaveReLoadDataTable(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.Empno" />
    <input type="hidden" asp-for="@Model.EmployeeName" />
    <input type="hidden" asp-for="@Model.Emptype" />
    <input type="hidden" asp-for="@Model.EmpGrade" />
    <input type="hidden" asp-for="@Model.Parent" />
    <input type="hidden" asp-for="@Model.StartDate" />
    <input type="hidden" asp-for="@Model.WorkArea" />
    <input type="hidden" asp-for="@Model.WorkAreaDesc" />
    <input type="hidden" asp-for="@Model.Wing" />
    <input type="hidden" asp-for="@Model.Office" />
    <input type="hidden" asp-for="@Model.Floor" />
    <input type="hidden" asp-for="@Model.Deskid" />

    <div class="modal-header">
        <h5 class="modal-title"> @localizer["Desk"] </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                @*<h5>@localizer["Areas - Desk"]</h5>*@
                <h5>@Html.Raw(" " + Model.WorkAreaDesc + "  ") @localizer[" "]   </h5>

            </div>
            <div class="card-block ">
                <div class="form-group">
                    <div class="row  p-2">
                        <div class="col-md-6 ">
                            <div class="dd-met">
                                @Html.Raw("[ " + Model.Empno + " ] " + Model.EmployeeName)
                            </div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="dd-met">@localizer["Employee type : "] @Model.Emptype</div>
                        </div>
                        <div class="col-md-3 ">
                            <div class="dd-met">@localizer["Grade : "] @Model.EmpGrade</div>
                        </div>
                    </div>
                    <div class="row  p-2">

                        <div class="col-sm-12 col-md-6 ">
                            <div class="dd-met">
                                @localizer["Parent : "] @Html.Raw("[ " + Model.Parent + " ] " + Model.ParentDesc)
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 ">
                            <div class="dd-met">@localizer["Assign : "] @Html.Raw("[ " + Model.Assign + " ] " + Model.AssignDesc)</div>
                        </div>
                    </div>
                    <div class="row  p-2">
                        <div class="col-md-12 ">
                            @*<div class="dd-met">
                                <label asp-for="StartDate" class="control-label"></label>
                                <input id="startDate" class="form-control datepicker" placeholder="@localizer["Start date"]" value="" required />
                                <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>*@
                        </div>
                    </div>
                </div>
                <div style="overflow:auto">
                    <table id="tbDataGridDeskModel" class="table table-hover  w-100 " style="width:100%!important">
                        <thead class="bg-info text-white">
                            <tr class="font-weight-bold">

                                <td> @localizer["Office"] </td>
                                <td> @localizer["Floor"] </td>
                                <td> @localizer["Seat no"] </td>
                                <td> @localizer["Wing"] </td>
                                @*<td> @localizer["Asset code"] </td>*@
                                <td> @localizer["Bay"] </td>
                                <td> @localizer["Desk"] </td>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="btnbacktoworkareas" data-text="@localizer[" Back"]">
            @localizer["Back"]
        </button>&nbsp;&nbsp;&nbsp;

        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>