@{
    ViewData["Title"] = "Home Page";
}

@section BreadCrumbs
    {
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Vaccination</li>
    </ol>
}

    @section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <style>
        #tbGrid.table td, #tbGrid.table th {
            padding: 0.2rem !important;
        }
    </style>
}
    <div style="display:none">
    </div>
    <div class="col-sm-12">
        <div class="row">
            @if (CurrentUserIdentity.ProfileActions.Any(p => p.RoleId == TCMPLApp.Domain.Models.SWPVaccine.SWPVaccineHelper.RoleTCMPLEmpStatus1))
        {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Self - Vaccine details</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("Index", "VaccinationSelf", new { Area = "SWPVaccine" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-clinic-medical f-20 text-white theme-green"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Self - Smart Work Policy</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("Index", "EmployeePolicy", new { Area = "SWPVaccine" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-file-invoice f-20 text-white theme-blue"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (CurrentUserIdentity.ProfileActions.Any(p => p.RoleId == TCMPLApp.Domain.Models.SWPVaccine.SWPVaccineHelper.RoleSWPVaccineHoD))
        {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>SWP Policy Approval - HoD </h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("Index", "HoDEmpPolicyManage", new { Area = "SWPVaccine" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-cog	 f-20 text-white theme-green"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (CurrentUserIdentity.ProfileActions.Any(p => p.RoleId == TCMPLApp.Domain.Models.SWPVaccine.SWPVaccineHelper.RoleSWPVaccineHR))
        {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>SWP Policy Approval - HR</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("Index", "HREmpPolicyManage", new { Area = "SWPVaccine" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-truck-monster f-20 text-white theme-brown"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Employee Vaccination - HR</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("Index", "HREmpVaccineDateManage", new { Area = "SWPVaccine" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-check   f-20 text-white theme-blue"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Employee Training - HR</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("Index", "EmployeeTraining", new { Area = "SWPVaccine" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-user-check   f-20 text-white theme-blue"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>