@model TCMPLApp.WebApp.Models.OSCMhrsUpdateViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="OSCMhrs"
      asp-action="Edit"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-success="onDataTableReloadSuccess();"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    @Html.HiddenFor(m => m.OscmId)
    @Html.HiddenFor(m => m.OscdId)
    @Html.HiddenFor(m => m.Yymm)
    @Html.HiddenFor(m => m.Parent)
    @Html.HiddenFor(m => m.Assign)
    @Html.HiddenFor(m => m.Empno)

    <div class="modal-header">
        <h5 class="modal-title">Edit manhours</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["Edit manhours"]</h5>
            </div>
            <div class="card-block">                
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="YymmWords" class="control-label"></label>
                            <label id="YymmWords" class="form-control" readonly> @Model.YymmWords</label>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="ParentWithName" class="control-label"></label>
                            <label id="ParentWithName" class="form-control" readonly> @Model.ParentWithName</label>
                        </div>
                    </div>
                </div>*@
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="AssignWithName" class="control-label"></label>
                            <label id="AssignWithName" class="form-control" readonly> @Model.AssignWithName</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="EmpnoWithName" class="control-label"></label>
                            <label id="EmpnoWithName" class="form-control" readonly> @Model.EmpnoWithName</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Projno" class="control-label"></label>
                            <select asp-for="Projno" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Projno" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Projno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Wpcode" class="control-label"></label>
                            <select asp-for="Wpcode" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Wpcode" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Wpcode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Activity" class="control-label"></label>
                            <select asp-for="Activity" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Activity" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Activity" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Hours" class="control-label"></label>
                            <input asp-for="Hours" class="form-control" required />
                            <span asp-validation-for="Hours" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

