@model TCMPLApp.WebApp.Models.OSCMhrsViewModel

@Html.AntiForgeryToken()
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer


@{
    ViewData["Title"] = "OSC ManHours";
    const string actionName = "OSCMhrsIndex";
    const string controllerName = "OSCMhrs";
}

@section BreadCrumbs
    {
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="Timesheet">TimeSheet</a></li>
        <li class="breadcrumb-item active" aria-current="page">OSC ManHours</li>
    </ol>
}
@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<input id="Yyyy" readonly type="hidden" value="@ViewBag.Yyyy" />
<input id="Yymm" readonly type="hidden" value="@ViewBag.Yyyymm" />

<div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
    <div class="card-toolbar p-l-1 ">
        <div role="toolbar">
            <button id="filterGet" type="button" class="btn btn-secondary btn-sm border-white"
                    data-jqueryselector="openmodal"
                    data-modalcontainer="modalcontainer"
                    data-modalpopupwidth="rightw35"
                    data-url='@Url.Action("FilterGet", "Home", new { Area = "Timesheet" })'
                    data-actionName="OSCMhrsIndex"
                    data-controllerName="OSCMhrs"
                    data-modaltitle="Filter"
                    data-modalheader="Filter">
                <i class="fas fa-filter"></i>&nbsp;Filter ::

                @if (!string.IsNullOrEmpty(ViewBag.Yyyy))
                {
                    @Html.Raw(localizer["Year : "] + ViewBag.Yyyy);
                }
                @if (!string.IsNullOrEmpty(ViewBag.Yyyymm))
                {
                    @Html.Raw(localizer[", Year month : "] + (ViewBag.Yyyymm.Substring(4, 2) == "01" ? "Jan " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "02" ? "Feb " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "03" ? "Mar " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "04" ? "Apr " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "05" ? "May " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "06" ? "Jun " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "07" ? "Jul " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "08" ? "Aug " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "09" ? "Sep " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "10" ? "Oct " + ViewBag.Yyyymm.Substring(0, 4)
                : ViewBag.Yyyymm.Substring(4, 2) == "11" ? "Nov " + ViewBag.Yyyymm.Substring(0, 4)
                : "Dec " + ViewBag.Yyyymm.Substring(0, 4)))
                    ;
                }
            </button>
        </div>
    </div>
    <div class="m-2"></div>
    <div class="app-h4 app-card-header mb-2">
        <p>OSC Manhours </p>
    </div>    
    
    <div id="divBookManhours" class="d-flex flex-row">
        @if (ViewBag.IsEditableAllowed == IsOk)
        {
            <a title="New Action" class="btn btn-outline-primary btn-sm border border-white" href="#"
                data-jqueryselector="openmodal"
                data-modalcontainer="modalcontainer"
                data-modalpopupwidth="rightw35"
                data-url='@Url.Action("Create", "OSCMhrs", new { Area = "Timesheet" })'
                data-statichtmlsourcedivid=""
                data-modaltitle="Book Manhours"
                data-modalheader="Book Manhours">
                <i class="fas fa-plus"></i> Book Manhours
            </a>
        }
        <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
            href="#"
            data-jqueryselector="binarydownload"
            data-url="@(Url.Action("OSCMhrsDetailsExcelDownload", "OSCMhrs", new { Area = "Timesheet" }))"
            data-id="@ViewBag.Yyyymm">
            <i class="fas fa-file-excel green-color"></i>&nbsp;Export
        </a>
     @*   <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
           href="#"
           data-jqueryselector="binarydownload"
           data-url="@(Url.Action("Test", "OSCMhrs", new { Area = "Timesheet" }))"
           data-id="@ViewBag.Yyyymm">
            <i class="fas fa-file-excel green-color"></i>&nbsp;Test Export
        </a>*@
    </div>                           
    <div class="m-1"></div>
    <div class="card-block">
        <div class="card-pill">
            <ul class="nav nav-tabs" id="tabs-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="tabs-main-tab" data-toggle="pill" href="#tabs-main" role="tab" aria-controls="tabs-main" aria-selected="true">@localizer["Details"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tabs-summary-tab" data-toggle="pill" href="#tabs-summary" role="tab" aria-controls="tabs-summary" aria-selected="false"
                       data-url="@Url.Action("OSCMhrsSummaryIndex", "OSCMhrs", new { Area = "Timesheet" })"
                       data-id="@ViewBag.Yyyymm"
                       data-divid="pw-summary"
                       data-callback="loadOSCMhrsSummaryDataTable()"
                       data-area="Timesheet"
                       data-controller="OSCMhrs"
                       data-action="OSCMhrsSummaryIndex">
                        @localizer["Summary"]
                    </a>
                </li>

            </ul>
            <div class="tab-content">
                @await Html.PartialAsync("_LoaderPartial")
                <div class="tab-pane fade show active" id="tabs-main" role="tabpanel" aria-labelledby="tabs-main-tab">
                    @await Html.PartialAsync("_MainDetailPartial.cshtml", Model)
                </div>
                <div class="tab-pane fade" id="tabs-summary" role="tabpanel" aria-labelledby="tabs-summary-tab">
                    <div id="pw-summary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_OSCMhrsDataTableColumnsPartial");

    }
    <script src="~/js/OSCMhrs.js" asp-append-version="true"></script>


    <script>

        $(document).ready(function () {            
            if ($('#Yyyy').val() == null || $('#Yyyy').val() == '' ||
                $('#Yymm').val() == null || $('#Yymm').val() == '') {
                $("#filterGet").click();
            }
            else {
                loadOSCMhrsDataTable();
                localScript();            
            }
        });

        function localScript() {
            initSelect2();
            AssignChange();

            var cancelButtonRedirectUrl = "@Url.Action("RedirectPage", "Home", new {Area = "Timesheet",
            actionName = @actionName,
            controllerName = @controllerName})";
            callCancelButtonListeners(cancelButtonRedirectUrl);
        };

        function AssignChange() {
            $("#Assign").change(function (e) {                
                var assign = $("#Assign option:selected").val();
                var empno = $('#Empno').val();
                var projno = $('#Projno').val();
                var activity = $('#Activity').val();

                $.ajax({
                    url: '@Url.Action("SelectEmpno", "OSCMhrs")',
                    data: {
                        'id': assign
                    },
                    type: 'GET',
                    beforeSend: function () {
                        showModalLoader();
                    },
                    success: function (data) {
                        let dropdown = $('#Empno');
                        dropdown.empty();
                        var flag = false;

                        $(data).each(function () {
                            if (this.empno == empno) {
                                flag = true;
                                $('<option selected="selected" value="' + this.dataValueField + '">' + this.dataTextField + '</option>').appendTo(dropdown);
                            }
                            else {
                                $('<option value="' + this.dataValueField + '">' + this.dataTextField + '</option>').appendTo(dropdown);
                            }
                        });

                        if (flag == false) {
                            empno = null;
                        }

                        dropdown.val(empno);
                        dropdown.trigger("change");
                        hideModalLoader();
                    },
                    error: function (result) {
                        hideModalLoader();
                        notify('Error', result.responseText, 'danger');
                    }
                });

                $.ajax({
                    url: '@Url.Action("SelectProjno", "OSCMhrs")',
                    data: {
                        'id': assign
                    },
                    type: 'GET',
                    beforeSend: function () {
                        showModalLoader();
                    },
                    success: function (data) {
                        let dropdown = $('#Projno');
                        dropdown.empty();
                        var flag = false;

                        $(data).each(function () {
                            if (this.projno == projno) {
                                flag = true;
                                $('<option selected="selected" value="' + this.dataValueField + '">' + this.dataTextField + '</option>').appendTo(dropdown);
                            }
                            else {
                                $('<option value="' + this.dataValueField + '">' + this.dataTextField + '</option>').appendTo(dropdown);
                            }
                        });

                        if (flag == false) {
                            projno = null;
                        }

                        dropdown.val(projno);
                        dropdown.trigger("change");
                        hideModalLoader();
                    },
                    error: function (result) {
                        hideModalLoader();
                        notify('Error', result.responseText, 'danger');
                    }
                });

                $.ajax({
                    url: '@Url.Action("SelectActivity", "OSCMhrs")',
                    data: {
                        'id': assign
                    },
                    type: 'GET',
                    beforeSend: function () {
                        showModalLoader();
                    },
                    success: function (data) {
                        let dropdown = $('#Activity');
                        dropdown.empty();
                        var flag = false;

                        $(data).each(function () {
                            if (this.activity == activity) {
                                flag = true;
                                $('<option selected="selected" value="' + this.dataValueField + '">' + this.dataTextField + '</option>').appendTo(dropdown);
                            }
                            else {
                                $('<option value="' + this.dataValueField + '">' + this.dataTextField + '</option>').appendTo(dropdown);
                            }
                        });

                        if (flag == false) {
                            activity = null;
                        }

                        dropdown.val(activity);
                        dropdown.trigger("change");
                        hideModalLoader();
                    },
                    error: function (result) {
                        hideModalLoader();
                        notify('Error', result.responseText, 'danger');
                    }
                });

            });
        }

        function notifySuccess(msg) {
            notify('success', msg, 'Success');
        }

    </script>
}