@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="IcardConsent"
      asp-action="ICardConsentPhotoUpload"
      asp-area="EmpGenInfo"
      id="formIcardConsentPhotoUpload"     
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"      
      data-ajax-complete="onComplete(null);loadScript()"
      data-ajax-success=""
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div class="modal-header">
        <h5 class="modal-title">@localizer["ICard photo upload"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h6>@ViewBag.Name [ @ViewBag.Empno ]</h6>
            </div>
            <div class="card-block">                  
                <div id="iddropzone2" class="dropzone dropzone-design mb-10">
                    <div class="dz-details">
                        <div class="dz-filename"><span data-dz-name></span></div>
                        <div class="dz-size" data-dz-size></div>
                        <img data-dz-thumbnail />
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    </div>
                    <div class="dz-default dz-message" data=""><span>Drop only .jpg file here to upload</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="btnIcardContentPhotoUpload"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Upload"]">
            @localizer["Upload"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>