@model TCMPLApp.WebApp.Models.InvTransactionReturnViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="INV"
      asp-action="InvTransactionReturn"
      id="formInvTransactionReturn"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

      <input type="hidden" asp-for="@Model.TransDate" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Return from employee create"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Transaction return</h5>
            </div>
            <div class="card-block">
                <div class="row">                    
                    <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="TransDate" class="control-label"></label>
                            <input id="transDate" class="form-control datepicker" placeholder="@localizer["Transaction date"]" value="" required />
                            <span asp-validation-for="TransDate" class="text-danger"></span>
                        </div>
                    </div>      
                    <div class="col-xl-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="TransTypeId" class="control-label"></label>
                            <select asp-for="TransTypeId" class="form-control Select2" asp-items="ViewBag.TransTypeIdList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="TransTypeId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="Empno" class="control-label"></label>
                            <select asp-for="Empno" class="form-control Select2" asp-items="ViewBag.EmployeeList" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Empno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemId" class="control-label"></label>
                            <select asp-for="ItemId" class="form-control Select2" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ItemId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="form-group">
                            <label asp-for="ItemUsable" class="control-label"></label>
                            <select asp-for="ItemUsable" class="form-control Select2" asp-items="ViewBag.ItemUsableTypesList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ItemUsable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <textarea asp-for="Remarks" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

