@model TCMPLApp.WebApp.Models.InvItemTypesCreateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="INV"
      asp-action="InvItemTypesCreate"
      id="formInvItemTypes"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div class="modal-header">
        <h5 class="modal-title">@localizer["ItemTypes create"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>ItemTypes create</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemTypeCode" class="control-label"></label>
                            <input asp-for="ItemTypeCode" class="form-control" required />
                            <span asp-validation-for="ItemTypeCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="CategoryCode" class="control-label"></label>
                            <select asp-for="CategoryCode" class="form-control Select2" asp-items="ViewBag.CategoryCodeList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="CategoryCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemAssignmentType" class="control-label"></label>
                            <select asp-for="ItemAssignmentType" class="form-control Select2" asp-items="ViewBag.ItemAssignmentTypeList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ItemAssignmentType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="PrintOrder" class="control-label"></label>
                            <input asp-for="PrintOrder" class="form-control" required />
                            <span asp-validation-for="PrintOrder" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ActionId" class="control-label"></label>
                            <select asp-for="ActionId" class="form-control Select2" asp-items="ViewBag.DmsItemIssueActionList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ActionId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemTypeDescription" class="control-label"></label>
                            <textarea asp-for="ItemTypeDescription" class="form-control" rows="3" required></textarea>
                            <span asp-validation-for="ItemTypeDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

