@model TCMPLApp.WebApp.Models.InvTransactionReturnAddViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="INV"
      asp-action="InvTransactionReturnAdd"
      id="formInvTransactionReturnAdd"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-success="loadDataTable(null);localScript()"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

     <input type="hidden" asp-for="@Model.TransId" />
     <input type="hidden" asp-for="@Model.TransTypeId" />
     <input type="hidden" asp-for="@Model.Empno" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Return from employee create"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Transaction return - @Model.EmpName</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemId" class="control-label"></label>
                            <select asp-for="ItemId" class="form-control Select2" asp-items="ViewBag.ReturnItemList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ItemId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xl-12">
                        <div class="form-group">
                            <label asp-for="ItemUsable" class="control-label"></label>
                            <select asp-for="ItemUsable" class="form-control Select2" data-placeholder="Please select..." required>
                                <option selected></option>
                                <option value="Y">Usable</option>
                                <option value="N">Non usable</option>
                                <option value="L">Lost</option>
                            </select>
                            <span asp-validation-for="ItemUsable" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

