@model TCMPLApp.WebApp.Models.InvTransactionAddViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="INV"
      asp-action="InvTransactionAdd"
      id="formInvTransactionCreate"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);initToastrMessage()"
      data-ajax-success="loadDataTable(null);localScript()"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

      <input type="hidden" asp-for="@Model.TransId" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Issue to employee create"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Transaction create - @Model.Empno</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemTypeCode" class="control-label"></label>
                            <select asp-for="ItemTypeCode" class="form-control Select2" asp-items="ViewBag.ItemTypeFullList" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ItemTypeCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ItemId" class="control-label"></label>
                            <select asp-for="ItemId" class="form-control Select2" asp-items="ViewBag.ItemIdList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ItemId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
        <div id="results" style="display:none">@TempData["Message"]</div>
    </div>

</form>

