@model TCMPLApp.WebApp.Models.InvConsumablesDetailViewModel

@{
    ViewData["Title"] = "Consumables detail";
}

@Html.AntiForgeryToken()

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="DMS">Desk management</a></li>
            <li class="breadcrumb-item "><a asp-action="Index" asp-controller="INV" asp-area="DMS">Inventory</a></li>
            <li class="breadcrumb-item "><a asp-action="INVConsumablesIndex" asp-controller="INV" asp-area="DMS">Consumables list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Consumables detail</li>
    </ol>
}

<input type="hidden" asp-for="@Model.ConsumableId" />

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
    <div class="app-h4 app-card-header mb-2">
        <p>Consumables detail (@Html.DisplayFor(model => model.InvConsumablesDetails.PConsumableDate))</p>
    </div>
     <div class="d-flex flex-row">
@*        @if (Model.InvConsumablesDetails.PTransTypeDesc == "RESERVE" || Model.InvConsumablesDetails.PTransTypeDesc == "RETURN")
        {
            <a title="Edit Consumables" class="btn btn-outline-primary btn-sm border border-white" href="#"
            data-jqueryselector="openmodal"
            data-modalcontainer="modalcontainer"
            data-modalpopupwidth="rightw35"
            data-url='@Url.Action("InvConsumablesEdit", "INV", new { Area = "DMS" })'
            data-id="@Model.ConsumableId"
            data-statichtmlsourcedivid=""
            data-modaltitle="Edit Consumables"
            data-modalheader="Edit Consumables">
                <i class="fas fa-edit"></i> Edit
            </a> 
        }
        @if (Model.InvConsumablesDetails.PTransTypeDesc == "RESERVE")
        {
            <a class="btn btn-outline-success btn-sm border border-white" id="idIssueConsumables" onclick="showDeleteConfirmationPopup(event,this);"
            data-jqueryselector="showconfirmationmodal"
            data-url='@Url.Action("InvConsumablesIssue", "INV", new { Area = "DMS" })'
            data-redirecturl='@Url.Action("InvConsumablesDetailIndex", "INV", new { Area = "DMS" })'
            data-id="@Model.ConsumableId"
            data-modaltitle="Please Confirm!"
            data-confirmationtext="Do you want to issue ?"
            data-confirmationtype="warning"
            data-confirmbuttontext="Issue Consumables">
                <i class="fas fa-user-tag green-color" aria-hidden="true"></i> Issue
            </a>         
        }
        
        <a class="btn btn-outline-danger btn-sm border-none float-right" id="idIssueConsumables" onclick="showDeleteConfirmationPopup(event,this);"
            data-jqueryselector="showconfirmationmodal"
            data-url='@Url.Action("InvConsumablesDelete", "INV", new { Area = "DMS" })'
            data-redirecturl='@Url.Action("InvConsumablesIndex", "INV", new { Area = "DMS" })'
            data-id="@Model.ConsumableId"
            data-modaltitle="Please Confirm!"
            data-confirmationtext="Do you want to delete ?"
            data-confirmationtype="warning"
            data-confirmbuttontext="Delete Consumables">
            <i class="fas fa-trash" aria-hidden="true"></i> Delete
        </a>
*@
  </div>
    <hr/>
    <div class="card-block">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PConsumableTypeId)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PConsumableTypeId) @Html.DisplayFor(model => model.InvConsumablesDetails.PConsumableTypeDesc)</div>
                </div>
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PConsumableDesc)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PConsumableDesc) </div>
                </div>
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PConsumableDate)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PConsumableDate) </div>
                </div>
            </div>
        </div>
        <div class="form-group">
             <div class="row">
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PQuantity)</div>                   
                    <div class="dd-met">
                        
                            @Html.Raw(System.Web.HttpUtility.HtmlEncode(Model.InvConsumablesDetails.PQuantity).Replace("\n", "<br/>"))
                    </div>
                </div>
                @if (Model.InvConsumablesDetails.PConsumableTypeId == "KEYRM")
                {
                    <div class="col-md-4">
                        <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PRamCapacityDesc)</div>                   

                        <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PRamCapacityDesc) </div>
                    </div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PPoNumber)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PPoNumber)</div>
                </div>
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PPoDate)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PPoDate) </div>
                </div>
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PVendor)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PVendor) </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PInvoiceNo)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PInvoiceNo)</div>
                </div>
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PInvoiceDate)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PInvoiceDate) </div>
                </div>
                <div class="col-md-4">
                    <div class="dt-met">@Html.DisplayNameFor(model => model.InvConsumablesDetails.PWarrantyEndDate)</div>
                    <div class="dd-met">@Html.DisplayFor(model => model.InvConsumablesDetails.PWarrantyEndDate) </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="m-1"></div>
    <div class="d-flex flex-row">
@*        @if (Model.InvConsumablesDetails.PTransTypeDesc == "RESERVE")
        {
            <a title="Create Consumables" class="btn btn-outline-primary btn-sm border border-white" href="#"
                data-jqueryselector="openmodal"
                data-modalcontainer="modalcontainer"
                data-modalpopupwidth="rightw35"
                data-url='@Url.Action("InvConsumablesAdd", "INV", new { Area = "DMS" })'
                data-id="@Model.ConsumableId"
                data-statichtmlsourcedivid=""
                data-modaltitle="Create Consumables"
                data-modalheader="Create Consumables">
                <i class="fas fa-plus"></i> Create
            </a>  
        }
        @if (Model.InvConsumablesDetails.PTransTypeDesc == "RETURN")
        {
            <a title="Create Consumables" class="btn btn-outline-primary btn-sm border border-white" href="#"
                data-jqueryselector="openmodal"
                data-modalcontainer="modalcontainer"
                data-modalpopupwidth="rightw35"
                data-url='@Url.Action("InvConsumablesReturnAdd", "INV", new { Area = "DMS" })'
                data-id="@Model.InvConsumablesDetails.PEmpno"
                data-parameter="@Model.ConsumableId"
                data-statichtmlsourcedivid=""
                data-modaltitle="Create Consumables"
                data-modalheader="Create Consumables">
                <i class="fas fa-plus"></i> Create
            </a>  
        }
*@    </div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <table id="tbGrid" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr>                                                                               
                    <th>@Html.DisplayNameFor(model => model.ItemTypeDesc)</th>
                    <th>@Html.DisplayNameFor(model => model.ItemId)</th>
                    @*<th>@Html.DisplayNameFor(model => model.ItemDetails)</th>*@
                    <th>@Html.DisplayNameFor(model => model.IsNew)</th>
                    <th>@Html.DisplayNameFor(model => model.IsIssued)</th>
                    <th>@Html.DisplayNameFor(model => model.IsUsable)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div id="result"></div>
    </div>
</div>

@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function localScript() {
            initSelect2();
            ItemTypeCodeChange();     
            EmpnoChange();
        }

        function loadDataTable() {
            dataTable = $('#tbGrid').DataTable({
                drawCallback: function (settings) {
                    loadScript();
                },
                destroy: true,
                pageLength: 25,
                 responsive: true,
                autoWidth: false,
                lengthMenu: [25,50],
                processing: true,
                serverSide: true,
                stateSave: true,
                info: false,
                filter: false,
                layout: {topStart: null,bottomStart: 'pageLength',bottomEnd: 'paging'},
                @if ((bool)@Context.Items["isMobile"] == false)
                {
                    <text>
                        ordering: false,
                        columns: [                           
                            { 'data': "itemTypeDesc" },
                            { 'data': "itemId" },
                            { 'data': "isNew" },
                            { 'data': "isIssued" },
                            { 'data': "isUsable" },
                            {
                                'data': null,
                                render: function (data, type, row) {
                                    if (data.deleteItem == 1 && data.totalRow > 1) {
                                        return '<button title="Delete" class="btn btn-outline-danger btn-sm border-none " ' +
                                            ' onclick = "showDeleteConfirmationPopup(event,this);" ' +
                                            ' data-jqueryselector = "showconfirmationmodal" ' +
                                            ' data-url="@Url.Action("InvConsumablesDetailDelete", "INV", new { Area = "DMS" })"' +
                                            ' data-id="' + data.transId + '!-!' + data.transDetId + '!-!' + data.transTypeDesc + '"' +
                                            ' data-redirecturl="@Url.Action("InvConsumablesDetailIndex", "INV", new { Area = "DMS" })"' +
                                            ' data-modaltitle="Please Confirm!" ' +
                                            ' data-confirmationtext="Do you want to delete item ?" ' +
                                            ' data-confirmationtype="warning" ' +
                                            ' title="Delete" ' +
                                            ' data-confirmbuttontext="Delete" > ' +
                                            ' <i class="fas fa-trash" aria-hidden="true"></i> ' +
                                            ' </button>';
                                    } else
                                    {
                                        return '';
                                    }
                                },
                                'className': "td-icon text-center  align-middle",
                            }                            
                        ]
                    </text>
                }
                else
                {
                    <text>
                        ordering: false,
                        columns: [
                            {
                                data: null,
                                render: function (data, type, row) {
                                    var item = '<div class="card">';
                                    item += '<div class="card-mobiledatatable">';

                                    item += '</div></div>';
                                    return item
                                },
                                sortable: false,
                                searchable: false,
                                className: "datatable-td-mobile"
                            }
                        ]
                    </text>
                },
                ajax: {
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    url: '@Url.Action("GetListsConsumablesDetail", "INV")',
                    type: 'GET',
                    cache: true,
                    dataType: "json",
                    data: function (d) {
                        d.columns = null;
                        d.order = null;
                        d.search = null;
                        d.genericSearch = $('#GenericSearch').val();
                        d.consumableId = $('#ConsumableId').val();
                    },
                    error: function (request, status, error) {
                        notify('error', request.responseText, 'danger');
                    }
                }
            });
        }

        $("#GenericSearch").keypress(function(event) {
            if (event.keyCode === 13) {
                if ($("#GenericSearch").length) {
                    dataTable
                        .search($('#GenericSearch').val())
                        .draw();
                } else {
                    dataTable
                        .search($('#genericSearch').val())
                        .draw();
                }
            }
         });
        
        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                dataTable
                    .search($('#GenericSearch').val())
                    .draw();
            } else {
                dataTable
                    .search($('#genericSearch').val())
                    .draw();
            }
        });

        function PostSave(data) {
            if (data.success) {
                $("#modalcontainer").modal('hide');
                hideLoader();
                loadDataTable();
                location.reload();
                notify('success', data.response, 'Success');
            }
        }

        function ItemTypeCodeChange() {
            $('#ItemTypeCode').on('change', function (e) {
            var itemTypeCode = $('#ItemTypeCode').val();
            var itemId = $('#ItemId').val();

            if (itemTypeCode != null && itemTypeCode != '') {
                $.ajax({
                    url: "@Url.Action("GetItem", "INV", new {Area = "DMS"})",
                    data: {
                        'id': itemTypeCode
                    },
                    type: 'GET',
                    beforeSend: function () {
                        showLoader();
                    },
                    success: function (data) {
                        let dropdown = $('#ItemId');
                        dropdown.empty();
                        var flag = false;
                        var options = '';

                        $(data).each(function () {
                            if (this.dataValueField == itemId) {
                                flag = true;
                                options += '<option selected="selected" value="' + this.dataValueField + '">' + this.dataTextField + '</option>';
                            }
                            else {
                                options += '<option value="' + this.dataValueField + '">' + this.dataTextField + '</option>';
                            }
                        });
                        dropdown.html(options);

                        if (flag == false) {
                            phase = null;
                        }

                        dropdown.val(phase);
                        hideLoader();
                    },
                    error: function (result) {
                        hideLoader();
                        notify($.i18n('Error'), result.responseText, 'danger');
                    }
                });
            }
        });
        }

        function EmpnoChange() {
            $('#Empno').on('change', function (e) {
            var empno = $('#Empno').val();
            var itemId = $('#ItemId').val();

            if (empno != null && empno != '') {
                $.ajax({
                    url: "@Url.Action("GetReturnItem", "INV", new {Area = "DMS"})",
                    data: {
                        'id': empno
                    },
                    type: 'GET',
                    beforeSend: function () {
                        showLoader();
                    },
                    success: function (data) {
                        let dropdown = $('#ItemId');
                        dropdown.empty();
                        var flag = false;
                        var options = '';

                        $(data).each(function () {
                            if (this.dataValueField == itemId) {
                                flag = true;
                                options += '<option selected="selected" value="' + this.dataValueField + '">' + this.dataTextField + '</option>';
                            }
                            else {
                                options += '<option value="' + this.dataValueField + '">' + this.dataTextField + '</option>';
                            }
                        });
                        dropdown.html(options);

                        if (flag == false) {
                            phase = null;
                        }

                        dropdown.val(phase);
                        hideLoader();
                    },
                    error: function (result) {
                        hideLoader();
                        notify($.i18n('Error'), result.responseText, 'danger');
                    }
                });
            }
        });
        }

    </script>
}
