@model TCMPLApp.WebApp.Models.SubBusinessLinesViewModel

@{
    ViewData["Title"] = "Sub Business Lines";
}

@Html.AntiForgeryToken()

@section BreadCrumbs
    {
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="JOB">Job form</a></li>
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Masters" asp-area="JOB">Masters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Sub Business Lines</li>
    </ol>
}

    @section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
    <div class="app-h4 app-card-header mb-2">
        <p>Sub Business Lines</p>
    </div>
    <div class="d-flex flex-row">
        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.JOB.JOBHelper.ActionReadJob))
        {
            <a title="New Sub Business Lines" class="btn btn-outline-primary btn-sm border border-white" href="#"
               data-jqueryselector="openmodal"
               data-modalcontainer="modalcontainer"
               data-modalpopupwidth="rightw35"
               data-url='@Url.Action("SubBusinessLinesCreate", "Masters", new { Area = "JOB" })'
               data-statichtmlsourcedivid=""
               data-modaltitle="New Sub Business Lines"
               data-modalheader="New Sub Business Lines">
                <i class="fas fa-plus"></i> Create
            </a>
        }
        <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
            href='@Url.Action("SubBusinessLinesExcelDownload", "Masters", new { Area = "JOB" })' hidden>
            <i class="fas fa-file-excel green-color"></i>&nbsp;Export
        </a>
    </div>
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <table id="tbGrid" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr>

                    <th>Sub business lines</th>
                    <th>Description</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>

        <div id="result"></div>
    </div>
</div>
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            loadDataTable();
        });

        function localScript() {
            initSelect2();
        }

        function loadDataTable() {
            dataTable = $('#tbGrid').DataTable({
                drawCallback: function (settings) {
                    loadScript();
                },
                destroy: true,
                pageLength: 25,
                responsive: true,
                autoWidth: false,
                lengthMenu: [25,50],
                processing: true,
                serverSide: true,
                stateSave: true,
                info: false,
                filter: false,
                layout: {topStart: null,bottomStart: 'pageLength',bottomEnd: 'paging'},
                @if ((bool)@Context.Items["isMobile"] == false)
                {
                    <text>
                        ordering: false,
                        columns: [

                            { 'data': "shortDescription" },
                            { 'data': "description" },
                            {
                                data: null,
                                render: function (data, type, row) {
                                    return '<button title="Edit" class="btn btn-outline-primary btn-sm border-none" ' +
                                        ' data-jqueryselector="openmodal" ' +
                                        ' data-modalcontainer="modalcontainer" '+
                                        ' data-url="@Url.Action("SubBusinessLinesEdit", "Masters", new { Area = "JOB" })"' +
                                        ' data-modalpopupwidth="rightw35" ' +
                                        ' data-id="' + data.code + '"' +
                                        ' data-modaltitle="Sub Business Lines edit" ' +
                                        ' data-modalheader="Sub Business Lines edit" >' +
                                        ' <i class="fas fa-edit" aria-hidden="true"></i> ' +
                                        ' </button>';
                                },
                                className: "td-icon",
                            },
                            {
                                'data': null,
                                render: function (data, type, row) {
                                    if (data.deleteAllowed == 0) {
                                        return '<button title="Delete" class="btn btn-outline-danger btn-sm border-none " ' +
                                            ' onclick = "showDeleteConfirmationPopup(event,this);" ' +
                                            ' data-jqueryselector = "showconfirmationmodal" ' +
                                            ' data-url="@Url.Action("SubBusinessLinesDelete", "Masters", new { Area = "JOB" })"' +
                                            ' data-id="' + data.code + '"' +
                                            ' data-PostDeleteReLoadDataTables="OK" ' +
                                            ' data-modaltitle="Please Confirm!" ' +
                                            ' data-confirmationtext="Do you want to delete Sub Business Lines (' + data.shortDescription + ' - ' + data.description + ') ?" ' +
                                            ' data-confirmationtype="warning" ' +
                                            ' title="Delete Sub Business Lines" ' +
                                            ' data-confirmbuttontext="Delete Sub Business Lines" > ' +
                                            ' <i class="fas fa-trash" aria-hidden="true"></i> ' +
                                            ' </button>';
                                    } else
                                    {
                                        return '';
                                    }
                                },
                                'className': "td-icon text-center  align-middle",
                            }
                        ]
                    </text>
                }
                else
                {
                    <text>
                        ordering: false,
                        columns: [
                            {
                                data: null,
                                render: function (data, type, row) {
                                    var item = '<div class="card">';
                                    item += '<div class="card-mobiledatatable">';

                                    item += '</div></div>';
                                    return item
                                },
                                sortable: false,
                                searchable: false,
                                className: "datatable-td-mobile"
                            }
                        ]
                    </text>
                },
                ajax: {
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    url: '@Url.Action("GetListsSubBusinessLines", "Masters")',
                    type: 'GET',
                    cache: true,
                    dataType: "json",
                    data: function (d) {
                        d.columns = null;
                        d.order = null;
                        d.search = null;
                        d.genericSearch = $('#GenericSearch').val();
                    },
                    error: function (request, status, error) {
                        notify('error', request.responseText, 'danger');
                    }
                }
            });
        }

        $("#GenericSearch").keypress(function(event) {
            if (event.keyCode === 13) {
                if ($("#GenericSearch").length) {
                    dataTable
                        .search($('#GenericSearch').val())
                        .draw();
                } else {
                    dataTable
                        .search($('#genericSearch').val())
                        .draw();
                }
            }
         });
        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                dataTable
                    .search($('#GenericSearch').val())
                    .draw();
            } else {
                dataTable
                    .search($('#genericSearch').val())
                    .draw();
            }
        });

        function PostSave(data) {
            if (data.success) {
                $("#modalcontainer").modal('hide');
                hideLoader();
                loadDataTable();
                notify('success', data.response, 'Success');
            }
        }

    function PostDeleteReLoadDataTables(data) {
            if (data.success) {
                loadDataTable();
                hideLoader();
               notify('success', data.message, 'Success');
            }
        }

    </script>
}