@model TCMPLApp.WebApp.Models.ManhoursProjectionsCurrentJobsProjectModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Transactions"
      asp-action="ManhoursProjectionsCurrentJobsProjectCreate"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript();"
      data-ajax-success="PostCreateSaveReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.Costcode" />       

    <div class="modal-header">
        <h5 class="modal-title">Add project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>    
    <div class="modal-body">
        <div class="card">            
            <div class="card-block">
                <div class="form-group">
                    <div class="col-md-12 ">
                            <label asp-for="Projno" class="control-label"></label>
                            <select asp-for="Projno" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Projects" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Projno" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

