@model TCMPLApp.WebApp.Models.UpdateNumberOfEmployeeViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Transactions"
      asp-action="UpdateNumberOfEmployee"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
       data-ajax-success="PostSaveReLoadDataTable(data)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-failure="onError"       
      accept-charset="UTF-8">

       <input type="hidden" asp-for="@Model.Noofemps" />

    <div class="modal-header">
        <h5 class="modal-title">Update number of employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["Update number of employee"]</h5>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Costcode" class="control-label"></label>
                            <select asp-for="Costcode" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Costcodes" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Costcode" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                           <label asp-for="Noofemps" class="control-label"></label>
                            <input id="noofemps" class="form-control" readonly type="number" value="@Model.Noofemps" required />
                            <span asp-validation-for="Noofemps" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                           <label asp-for="Changednemps" class="control-label"></label>
                            <input asp-for="Changednemps" class="form-control" type="number" value="@Model.Noofemps" required />
                            <span asp-validation-for="Changednemps" class="text-danger"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <div id="btnconfirm_Loader" class="spinner-border text-info text-center hidden "
                                                                 style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                        <span class="sr-only">Loading...</span>
                                                                    </div>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

