@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Transactions"
      asp-action="ManhoursProjectionsCurrentJobsXLTemplateUpload"
      asp-area="RapReporting"
      asp-route-costcode="@ViewData["Costcode"]"
      asp-route-projno="@ViewData["Project"]"
      id="formManhoursProjectionsCurrentJobsEditXLUpload"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"      
      data-ajax-complete="onComplete(null);loadScript()"
      data-ajax-success=""
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input id=CostcodeImport type="hidden" value="@ViewData["Costcode"]" />       
    <input id=ProjnoImport type="hidden" value="@ViewData["Project"]" />       

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Edit manhours projections"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h6>Project : @ViewData["Project"] - @ViewData["ProjectName"]</h6>
                <h6>Cost code : @ViewData["Costcode"] - @ViewData["CostcodeName"]</h6>
            </div>
            <div class="card-block">               
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-xl-6">                            
                            <button type="button" id="btnManhoursProjectionsCurrentJobsXLTemplate" title="Excel Download" class=" btn btn-sm btn-success mx-2">
                                <i class="far fa-file-excel "></i> Download template
                            </button>
                        </div>
                    </div>
                </div>
                <div id="iddropzone2" class="dropzone dropzone-design mb-10">
                    <div class="dz-details">
                        <div class="dz-filename"><span data-dz-name></span></div>
                        <div class="dz-size" data-dz-size></div>
                        <img data-dz-thumbnail />
                        <div class="dz-error-message"><span data-dz-errormessage></span></div>
                    </div>
                    <div class="dz-default dz-message" data=""><span>Drop excel file here to import</span></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="btnManhoursProjectionsCurrentJobsXL"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Import manhoours projection details"]">
            @localizer["Import"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>