@model TCMPLApp.WebApp.Models.OTUpdateCreateViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Transactions"
      asp-action="OvertimeUpdateCreate"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript();"
      data-ajax-success="PostCreateSaveReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.Costcode" />       

    <div class="modal-header">
        <h5 class="modal-title">Create overtime</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>    
    <div class="modal-body">
        <div class="card">      
            <div class="card-header">
                <h6>Cost code : @ViewData["Costcode"] - @ViewData["CostcodeName"]</h6>
            </div>
            <div class="card-block">                
                <div class="form-group">
                    <div class="row">
                         <div class="col-md-12 ">
                            <label asp-for="Yymm" class="control-label"></label>
                            <select asp-for="Yymm" class="form-control Select2" asp-items="ViewBag.Yymm" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Yymm" class="text-danger"></span>
                       </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="OT" class="control-label"></label>
                            <input asp-for="OT" class="form-control" type="number" value="@Model.OT" required />
                            <span asp-validation-for="OT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

