@model TCMPLApp.WebApp.Models.ActivityMasterViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@{
    ViewData["Title"] = "Activity master";
    var isRAPAdmin = CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionRAPAdmin);
}

@Html.AntiForgeryToken()


@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="RapReporting">Rap Reporting</a></li>
        <li class="breadcrumb-item "><a asp-action="TransactionsIndex" asp-controller="Transactions" asp-area="RapReporting">Transactions</a></li>
        <li class="breadcrumb-item "><a asp-action="MasterIndex" asp-controller="Transactions" asp-area="RapReporting">Masters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Activity master</li>
    </ol>
}

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
    <div class="app-h4 app-card-header mb-2">
        <p>Activity master</p>
    </div>
    <div class="card-block">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8"></div>
            </div>
        </div>
    </div>
    <div class="m-1"></div>
    <div class="d-flex flex-row">
        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionRAPAdmin))
        {
        <a title="New activity" id="movecreate" class="btn btn-outline-primary btn-sm border border-white" href="#"
           data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("ActivityCreate", "Transactions", new { Area = "RAPReporting" })'
           data-statichtmlsourcedivid=""
           data-modaltitle="New activity"
           data-modalheader="New activity">
            <i class="fas fa-plus"></i> Create
        </a>
        }
    </div>
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <table id="tbGrid" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Costcode)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Activity)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Name)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Tlpcode)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.ActivityType)</th>
                    <th class="text-center">@Html.DisplayNameFor(model => model.Active)</th>
                    <th></th>
                </tr>
            </thead>
        </table>

        <div id="result">
        </div>
    </div>

</div>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        var dataTable;
        $(document).ready(function () {
            localScript();
            loadActivityDataTable();

            console.log(@isRAPAdmin.ToString().ToLower());
        });

        function localScript() {
            initSelect2();

            $('.selCostcode').on('select2:clear', function (e) {
                $("#GenericSearch").val('');
                loadActivityDataTable();
            });

            $(".selCostcode").change(function (e) {
                var cc = $('.selCostcode').val();
                if (cc) {
                    $.ajax({
                        type: 'Get',
                        url: '@Url.Action("GetTlpLists", "Transactions", new { Area = "RAPReporting" })',
                        data: 'costcode=' + cc,
                        success: function (resp) {
                            var selOpts = '';
                            $('.selTlpcode').empty();
                            $.each(resp, function (i, value) {
                                selOpts += "<option value='" + resp[i].dataValueField + "'>" + resp[i].dataTextField + "</option>";
                            });
                            $('.selTlpcode').append(selOpts);
                        }
                    });
                }
            });
        };

        let vVUloadActivityList = "@Url.Action("GetActivityLists", "Transactions")";

        function loadActivityDataTable() {
            genericLoadDataTable({
                pDataTableId: "#tbGrid",
                pColumns: datatableColumns,
                pUrl: vVUloadActivityList,
                pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,

                },
                pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

            });
        };

        @if ((bool)@Context.Items["isMobile"] == false)
        {
            <text>

                let datatableColumns = [
                    { data: "costcode" },
                    { data: "activity" },
                    { data: "name" },
                    { data: "tlpcode" },
                    { data: "activityType" },
                    {
                        'data': null,
                        render: function (data, type, row) {
                            if (data.active == "OK") {
                                return '<i class="fas fa-check deepskyblueColor"></i>';
                            } else {
                                return '';
                            }

                        },
                        'className': "td-icon text-center",
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (@isRAPAdmin.ToString().ToLower() == 'true') {
                                return '<button title="Edit" class="btn btn-outline-primary btn-sm border-none" ' +
                                    ' data-jqueryselector="openmodal" ' +
                                    ' data-modalcontainer="modalcontainer" ' +
                                    ' data-url="@Url.Action("ActivityUpdate", "Transactions", new { Area = "RAPReporting" })" ' +
                                    ' data-modalpopupwidth="rightw50" ' +
                                    ' data-id="' + row.costcode + '"' +
                                    ' data-activity="' + row.activity + '"' +
                                    ' data-modaltitle="Edit Activity" ' +
                                    ' data-modalheader="Edit Activity"> ' +
                                    ' <i class="fas fa-edit" aria-hidden="true"></i> ' +
                                    ' </button>'
                            } else {
                                return ' ';
                            }
                        },
                        className: "td-icon",
                    },
                ];


            </text>
        }


            $("#GenericSearch").keypress(function (event) {
                if (event.keyCode === 13) {
                    if ($("#GenericSearch").length) {
                        loadActivityDataTable();
                    }
                }
            });

        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                loadActivityDataTable();
            }
        });

        function postSaveReLoadDataTable(success) {
            if (success) {
                $("#modalcontainer").modal('hide');
                loadActivityDataTable();
                hideLoader();
                notify('success', '', 'Success');
            }
        }
        function PostSave(data) {
            if (data.success) {
                $("#modalcontainer").modal('hide');
                hideLoader();
                loadActivityDataTable();
                notify('success', data.response, 'Success');
            }
        };

    </script>
}