@model TCMPLApp.WebApp.Areas.RapReporting.RapViewModel;
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@{
    UserIdentity currentUserIdentity = CurrentUserIdentity;
}

@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Transactions";
}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="RapReporting">Rap Reporting</a></li>
        <li class="breadcrumb-item active" aria-current="page">Transactions</li>
    </ol>
}

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<input id="Yyyy" readonly type="hidden" asp-for="@Model.FilterDataModel.Yyyy" />
<input id="YearMode" readonly type="hidden" asp-for="@Model.FilterDataModel.YearMode" />
<input id="Yyyymm" readonly type="hidden" asp-for="@Model.FilterDataModel.Yyyymm" />
<input id="CostCode" readonly type="hidden" asp-for="@Model.FilterDataModel.CostCode" />
<input id="Projno" readonly type="hidden" asp-for="@Model.FilterDataModel.Projno" />

<div class="card-toolbar p-l-15">
    <div role="toolbar">
        <button id="filterGet" type="button" class="btn btn-secondary btn-sm border-white"
                data-jqueryselector="openmodal"
                data-modalcontainer="modalcontainer"
                data-modalpopupwidth="rightw35"
                data-url='@Url.Action("FilterGet", "Home", new { Area = "RapReporting" })'
                data-actionName="ManagementIndex"
                data-controllerName="Reports"
                data-modaltitle="Filter"
                data-modalheader="Filter">
            <i class="fas fa-filter"></i>&nbsp;Filter ::

            @if (!string.IsNullOrEmpty(Model.FilterDataModel.Yyyy))
            {
                @Html.Raw(localizer["Year : "] + Model.FilterDataModel.Yyyy);
            }
            @if (!string.IsNullOrEmpty(Model.FilterDataModel.YearMode))
            {
                @Html.Raw(localizer[", Year mode : "] + (Model.FilterDataModel.YearMode == "A" ? "April - March" : "January - December"));
            }
            @if (!string.IsNullOrEmpty(Model.FilterDataModel.Yyyymm))
            {
                @Html.Raw(localizer[", Year month : "] + (Model.FilterDataModel.Yyyymm.Substring(4, 2) == "01" ? "Jan " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "02" ? "Feb " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "03" ? "Mar " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "04" ? "Apr " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "05" ? "May " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "06" ? "Jun " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "07" ? "Jul " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "08" ? "Aug " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "09" ? "Sep " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "10" ? "Oct " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "11" ? "Nov " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
                                            : "Dec " + Model.FilterDataModel.Yyyymm.Substring(0, 4)));
            }

        </button>
        <div class="d-flex justify-content-end p-r-2 m-b-10 m-r-20 divSitemap">
            <a class="btn btn-secondary btn-sm border-white"
                data-jqueryselector="openmodal"
                data-modalcontainer="modalcontainer"
                data-modalpopupwidth="rightw35"
                data-url='@Url.Action("ShowSitemap", "Home", new { Area = "RapReporting" })'
                data-modaltitle="Sitemap"
                data-modalheader="Sitemap"
                title="Sitemap">
            <i class="fas fa-sitemap"></i></a>
        </div>
    </div>
</div>
<div class="m-2"></div>
@if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionCostCodeEdit) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionHoDFormsEdit) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoMastersEdit) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoTrans) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionSubcontractPrengAdmin) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionSubcontractProcoView) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionSubcontractDeptMono))
{
    <div class="col-sm-12">
        <div class="row">
             @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionCostCodeEdit) ||
                 CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionHoDFormsEdit) ||
                 CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoMastersEdit) ||
                 CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoTrans))
             {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header header-flex">
                        <h5>Masters</h5>
                        <span class="f-14 f-w-700"> &#10148; </span>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("MasterIndex", "Transactions", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            }
            @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoMastersEdit) ||
                 CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoTrans))
             {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Add expected jobs</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("ExpectedJobsIndex", "Transactions", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            }
            @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionCostCodeEdit) ||
                   CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionHoDFormsEdit) ||
                   CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoMastersEdit) ||
                   CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoTrans))
            {
                <div class="col-md-4 col-xl-3">
                    <div class="card card-tpl">
                        <div class="card-header">
                            <h5>Update Movements</h5>
                        </div>
                        <div class="card-block card-tile">
                            <a href="@Url.Action("MovementsIndex", "Transactions", new { Area = "RapReporting" })">
                                <div class="row align-items-center justify-content-center stretched-link">
                                    <div class="col">
                                        <h3 class="mb-2 f-w-300"> </h3>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-3">
                    <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Manhour projections - current jobs</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("ManhoursProjectionsCurrentJobsIndex", "Transactions", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            }
        </div>
        <div class="row">
            @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionCostCodeEdit) ||
               CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionHoDFormsEdit) ||
               CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoMastersEdit) ||
               CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionProcoTrans))
            {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Manhour projections - expected jobs</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("ManhoursProjectionsExpectedJobsIndex", "Transactions", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Overtime update</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("OvertimeUpdateIndex", "Transactions", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            }       
            @if(CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionSubcontractPrengAdmin) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionSubcontractProcoView) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionSubcontractDeptMono))
             {
                <div class="col-md-4 col-xl-3">
                    <div class="card card-tpl">
                        <div class="card-header">
                            <h5>Outside subcontracts</h5>
                        </div>
                        <div class="card-block card-tile">
                            <a href="@Url.Action("OscMasterIndex", "Transactions", new { Area = "RapReporting" })">
                                <div class="row align-items-center justify-content-center stretched-link">
                                    <div class="col">
                                        <h3 class="mb-2 f-w-300"> </h3>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
@section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/site-rap.js" asp-append-version="true"></script>
    <script>

        $(document).ready(function () {
            if ($('#Yyyy').val() == null || $('#Yyyy').val() == '' ||
                $('#YearMode').val() == null || $('#YearMode').val() == '' ||
                $('#Yyyymm').val() == null || $('#Yyyymm').val() == '') {
                $("#filterGet").click();
            }
        });

    </script>
}