@model TCMPLApp.WebApp.Models.ModulesUpdateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="UserAccess"
      asp-action="ModulesEdit"
      id="formModules"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="ModuleId" />
    <div class="modal-header">
        <h5 class="modal-title">@localizer["Module edit"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Module edit</h5> - @Model.ModuleId
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ModuleName" class="control-label"></label>
                            <input asp-for="ModuleName" class="form-control" required />
                            <span asp-validation-for="ModuleName" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ModuleLongDesc" class="control-label"></label>
                            <textarea asp-for="ModuleLongDesc" class="form-control" rows="3" required></textarea>
                            <span asp-validation-for="ModuleLongDesc" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ModuleIsActive" class="control-label"></label>
                            <select asp-for="ModuleIsActive" class="form-control chosen-select" data-placeholder="Please select..." required>
                                <option selected></option>
                                <option value="OK">OK</option>
                                <option value="KO">KO</option>
                            </select>
                            <span asp-validation-for="ModuleIsActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ModuleSchemaName" class="control-label"></label>
                            <input asp-for="ModuleSchemaName" class="form-control" required />
                            <span asp-validation-for="ModuleSchemaName" class="text-danger"></span>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="FuncToCheckUserAccess" class="control-label"></label>
                            <input asp-for="FuncToCheckUserAccess" class="form-control" required />
                            <span asp-validation-for="FuncToCheckUserAccess" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ModuleShortDesc" class="control-label"></label>
                            <textarea asp-for="ModuleShortDesc" class="form-control" rows="3" required></textarea>
                            <span asp-validation-for="ModuleShortDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

