@model TCMPLApp.WebApp.Models.DelegateViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

<input type="hidden" asp-for="ModuleId" />

<div id="divModuleDelegateLogs">
    <div class="d-flex flex-row">
        <a class="btn btn-outline-primary btn-sm border-white"
           onclick="GotoModuleDelegateLogs()"
           data-id="@Model.ModuleId"
           title="@localizer["Goto - Delegate logs"]">
            <i class="fas fa-list"></i>&nbsp; @localizer["Goto - Delegate logs"]
        </a>
    </div>
    <div class="input-group pt-1 pl-1 pr-1 ">
        <input type="text" class="form-control form-control-sm border" id="ModuleDelegateSearch" name="ModuleDelegateSearch"
               onkeypress="genericSearchKeypress('ModuleDelegateSearch')" placeholder="Search By Principal employee...">
        <div class="input-group-append">
            <button class="btn btn-sm btn-outline-info" type="button" id="buttonModuleDelegateAction"
                    onclick="genericSearchOnClick('ModuleDelegateSearch')">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div id="divModuleDelegate" style="display: none">
    <div class="d-flex flex-row">
        <a class="btn btn-outline-primary btn-sm border-white "
           onclick="GotoModuleDelegate()"
           data-id="@Model.ModuleId"
           title="@localizer["Goto - Delegate"]">
            <i class="fas fa-list"></i>&nbsp; @localizer["Goto - Delegate"]
        </a>
    </div>
    <div class="input-group pt-1 pl-1 pr-1 ">
        <input type="text" class="form-control form-control-sm border" id="ModuleDelegateLogsSearch" name="GenericSearch"
               onkeypress="genericSearchKeypress('ModuleDelegateLogsSearch')" placeholder="Search By Principal employee...">
        <div class="input-group-append">
            <button class="btn btn-sm btn-outline-info" type="button" id="buttonModuleDelegateLogs"
                    onclick="genericSearchOnClick('ModuleDelegateLogsSearch')">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>

</div>


<div class="card-table">

    <div class="table-responsive" id="tblModuleDelegate">
        <table id="tbModuleDelegate" class="table table-striped table-bordered table-responsive-lg">
            @if ((bool)@Context.Items["isMobile"] == false)
            {
                <thead class="bg-info text-white">
                    <tr>
                        <th>@localizer[Html.DisplayNameFor(model => model.PrincipalEmp)]</th>
                        <th>@localizer[Html.DisplayNameFor(model => model.OnBehalfEmp)]</th>
                    </tr>
                </thead>
            }
        </table>
    </div>
    <div class="table-responsive" id="tblModuleDelegateLogs" style="display:none">
        <table id="tbModuleDelegateLogs" class="table table-striped table-bordered table-responsive-lg">
            @if ((bool)@Context.Items["isMobile"] == false)
            {
                <thead class="bg-info text-white">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.PrincipalEmp)</th>
                        <th>@Html.DisplayNameFor(model => model.OnBehalfEmp)</th>
                        <th>@Html.DisplayNameFor(model => model.LogStatus)</th>
                        <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                        <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    </tr>
                </thead>
            }
        </table>
    </div>
</div>

