@model TCMPLApp.WebApp.Models.ModuleUserRoleActionsViewModel
@{
    ViewData["Title"] = "Module User Role Actions";
}

@Html.AntiForgeryToken()

@section BreadCrumbs
    {
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="CoreSettings">Core Settings</a></li>
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="UserAccess" asp-area="CoreSettings">User Access</a></li>
        <li class="breadcrumb-item active" aria-current="page">Module User Role Actions</li>
    </ol>
}
    @section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/lib/dropzone/dropzone.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/dropzone/basic.css" rel="stylesheet" asp-append-version="true" />
}

@Html.HiddenFor(m => m.FilterDataModel.IsActive)
<input readonly type="hidden" asp-for="@Model.FilterDataModel.ModuleId" />
<input readonly type="hidden" asp-for="@Model.FilterDataModel.RoleId" />
<input readonly type="hidden" asp-for="@Model.FilterDataModel.ActionId" />


    <div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
        <div class="app-h4 app-card-header mb-2">
            <p>Module User Role Actions</p>
        </div>
        <div class="d-flex flex-row">
             @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.CoreSettings.CoreSettingsHelper.ActionEditUserAccess))
        {
            <a title="New Module User Role Action" class="btn btn-outline-primary btn-sm border border-white" href="#"
            data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("ModuleUserRoleActionsCreate", "UserAccess", new { Area = "CoreSettings" })'
           data-statichtmlsourcedivid=""
           data-modaltitle="New Module User Role Action"
           data-modalheader="New Module User Role Action" hidden>
                <i class="fas fa-plus"></i> Create
            </a>
            }
       @* <a class="btn btn-outline-primary btn-sm filteredmarker-border border-white"
           data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("ModuleUserRoleActionsFilterGet", "UserAccess", new { Area = "CoreSettings" })'
           data-modaltitle="Filters"
           data-modalheader="Filters">
            <i class="fas fa-filter"></i>&nbsp;Filters
        </a>
        <a class="btn btn-outline-danger btn-sm border-white filteredmarker-visibility m-l-5"
           data-actionid="UserAccesssModuleRolesActionsIndex"
           data-url='@Url.Action("ResetFilter", "UserAccess", new { Area = "CoreSettings" })'
           href="#"
           onclick="resetFilter(event, this);"
           style="display: none;">
            <i class="fas fa-filter"></i> Reset
        </a>
*@
        </div>

        <div class="m-1"></div>
        <div class="bg-gray-active rounded ">
            <div class="input-group pt-1 pl-1 pr-1 ">
                <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
                <div class="input-group-append">
                    <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
                </div>
            </div>

            <table id="tbGrid" class="table table-striped table-bordered table-responsive-lg ">
                <thead class="bg-info text-white">
                    <tr>

                        <th>Employee</th>
                        <th>Module</th>
                        <th>Role</th>
                        <th>Action</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
            </table>

            <div id="result"></div>
        </div>
    </div>
    @section Scripts{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $(document).ready(function () {
            loadModuleUserRoleActionDataTable();
        });

        function localScript() {
            initSelect2();
        };


        let vModuleUserRoleActionList = "@Url.Action("GetListsModuleUserRoleActions", "UserAccess")";
        let canEdit = @(CurrentUserIdentity.ProfileActions.Any(pa => pa.ActionId == TCMPLApp.Domain.Models.CoreSettings.CoreSettingsHelper.ActionEditUserAccess) ? "true" : "false");

        function loadModuleUserRoleActionDataTable() {
            genericLoadDataTable({
                pDataTableId: "#tbGrid",
                pColumns: datatableColumns,
                pUrl: vModuleUserRoleActionList,
                pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,
                    moduleId: $('#FilterDataModel_ModuleId').val() ? $('#FilterDataModel_ModuleId').val() : null,
                    roleId: $('#FilterDataModel_RoleId').val() ? $('#FilterDataModel_RoleId').val() : null,
                    actionId: $('#FilterDataModel_ActionId').val() ? $('#FilterDataModel_ActionId').val() : null,
                },
                pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

            });
        };

        @if ((bool)@Context.Items["isMobile"] == false)
        {

            <text>

                let datatableColumns = [
                    { 'data': "employee" },
                    { 'data': "module" },
                    { 'data': "role" },
                    { 'data': "action" },
                    {
                        'data': null,
                        render: function (data, type, row) {
                            if (canEdit == true) {
                            if (data.deleteAllowed == 0) {
                                return '<button title="Delete" class="btn btn-outline-danger btn-sm border-none " ' +
                                    ' onclick = "showDeleteConfirmationPopup(event,this);" ' +
                                    ' data-jqueryselector = "showconfirmationmodal" ' +
                                    ' data-url="@Url.Action("ModuleUserRoleActionsDelete", "UserAccess", new { Area = "CoreSettings" })"' +
                                    ' data-id="' + data.roleId + '"' +
                                    ' data-PostDeleteReLoadDataTables="OK" ' +
                                    ' data-modaltitle="Please Confirm!" ' +
                                    ' data-confirmationtext="Do you want to delete  Module User Role Action (' + data.employee + ' - ' + data.module  + ' - ' + data.role + ' - ' + data.action + ') ?" ' +
                                    ' data-confirmationtype="warning" ' +
                                    ' title="Delete Module User Role Action" ' +
                                    ' data-confirmbuttontext="Delete Module User Role Action" > ' +
                                    ' <i class="fas fa-trash" aria-hidden="true"></i> ' +
                                    ' </button>';
                            } else
                            {
                                return '';
                            }
                            } else {
                                return '';
                            }
                        },
                        'className': "td-icon text-center  align-middle",
                    }

                ];


            </text>
        };


        $("#GenericSearch").keypress(function (event) {
            if (event.keyCode === 13) {
                if ($("#GenericSearch").length) {
                    loadModuleUserRoleActionDataTable();
                }
            }
        });

        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                loadModuleUserRoleActionDataTable();
            }
        });

        function PostSave(data) {
            if (data.success) {
                $("#modalcontainer").modal('hide');
                hideLoader();
                loadModuleUserRoleActionDataTable();
                notify('success', data.response, 'Success');
            }
        };

        function PostDeleteReLoadDataTables(data) {
            if (data.success) {
                loadModuleUserRoleActionDataTable();
                hideLoader();
                notify('success', data.message, 'Success');
            }
        };
        function PostFilterReLoadDataTable(data) {

            $("#modalcontainer").modal('hide');


            $("#FilterDataModel_ModuleId").val(data.moduleId);
            $("#FilterDataModel_RoleId").val(data.roleId);
            $("#FilterDataModel_ActionId").val(data.actionId);

            loadModuleUserRoleActionDataTable();
            hideLoader();
        }
    </script>
}