@model TCMPLApp.WebApp.Models.SiteMasterEditViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="HRDigiForm"
      asp-action="SiteMasterEdit"
      id="formSiteMasterEdit"
      data-ajax="true"
      data-ajax-update="#modal-content"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.KeyId" />
    <div class="modal-header">
        <h5 class="modal-title">@localizer["Edit Site Details"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Edit Site Details</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="SiteName" class="control-label"></label>
                            <input asp-for="SiteName" class="form-control" placeholder="@localizer["Site Name"]" rows="2" required>
                            <span asp-validation-for="SiteName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="SiteLocation" class="control-label"></label>
                            <input asp-for="SiteLocation" class="form-control" placeholder="@localizer["Site Location"]" required />
                            <span asp-validation-for="SiteLocation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="IsActive" class="control-label"></label>
                            <select asp-for="IsActive" class="form-control Select2" required>
                                <option value="" selected>Please select...</option>
                                <option value="1">Active</option>
                                <option value="0">De-Active</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>