@model TCMPLApp.WebApp.Models.AnnualEvaluationDetailsViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@{
    ViewData["Title"] = "HOD - Annual evaluation Details";
}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="DigiForm">Digi forms</a></li>
        <li class="breadcrumb-item"><a asp-action="HODAnnualEvaluationHistoryIndex" asp-controller="HRDigiForm" asp-area="DigiForm">Annual evaluation list</a></li>
        <li class="breadcrumb-item active" aria-current="page">Evaluation Details</li>
    </ol>
}
@section styles
{
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
    <style>
        @@media (-webkit-min-device-pixel-ratio: 1.25) {
            .openbal .col-xl-1, .closebal .col-xl-1 {
                flex: 0 0 12% !important;
                max-width: 12% !important;
            }
        }
    </style>
}
@Html.AntiForgeryToken()

<div class="m-auto py-2 col-xl-12">
    <div class="card bg-gray-active border rounded shadow m-auto ">
        <div class="card-header">
            <h5 class="card-title">
                Annual evaluation form
            </h5>
        </div>
        <div class="card-block">
            <div class="card-deck">
                <div class="card col-md-12 col-xl-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="EmployeeName" class="control-label"></label>
                                    <div class="dd-met">
                                        @(Model.Empno + " - " + Model.EmployeeName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="CostName" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.CostName)
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="DesgCode" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.DesgName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Location" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Location)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="Doj" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Doj?.ToString("dd-MMM-yyyy"))
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="EvaluationPeriod" class="control-label"></label>
                                    <div class="dd-met">
                                        @Model.Doj?.ToString("dd-MMM-yyyy")  to  @Model.EvaluationPeriod
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Attendance" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Attendance)
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr />
            <div class="card-deck " style="margin-top: 20px">
                <div class="card shadow col-sm-12 col-md-12 col-xl-6">
                    <div class="app-h4 app-card-header p-2">
                        @localizer["Training"]
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Training1" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Training1)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Training2" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Training2)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Training3" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Training3)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Training4" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Training4)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="Training5" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Training5)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow col-sm-12 col-md-12 col-xl-6  ">
                    <div class="app-h4 app-card-header p-2">
                        @localizer["Feedback"]
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Strengths:</label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Feedback1)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Specific achievement during the Training period :  </label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Feedback2)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Areas of improvements & Action plan for improvement :  </label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Feedback3)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">General Behavior OR Approach towards:</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Superior:</label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Feedback4)
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Colleagues:</label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Feedback5)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-md-12">
                                <div class="form-group">
                                    <label class="control-label">
                                        Recommendation for Confirmation/Extension of Training Period and Remark (If any):  :
                                    </label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.Feedback6)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-deck" style="margin-top: 20px">
                <div class="card shadow col-md-12 col-xl">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="CommentOfHr" class="control-label"></label>
                                    <div class="dd-met">
                                        @Html.Raw(Model.CommentOfHr)
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">

            <a class="btn btn-secondary" asp-controller="HRDigiForm" asp-action="HODAnnualEvaluationPendingIndex" title="@localizer["Cancel"]">
                @localizer["Cancel"]
            </a>
        </div>
    </div>
</div>