@model TCMPLApp.WebApp.Models.MidEvaluationIndexViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "Mid Term Pending Evaluation";
}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="DigiForm">Digi forms</a></li>
        <li class="breadcrumb-item active" aria-current="page">Mid term evaluation list</li>
    </ol>
}
@Html.HiddenFor(m => m.FilterDataModel.IsActive)
<input readonly type="hidden" asp-for="@Model.FilterDataModel.Grade" />
<input readonly type="hidden" asp-for="@Model.FilterDataModel.Parent" />


<div class="container-fluid bg-white border card rounded shadow m-auto col-xl-11 p-2">
    <div class="app-h4 app-card-header mb-2">
        <p>Mid Term Pending Evaluation</p>
    </div>
    <div class="d-flex flex-row">
        <a title="GoTo History" class="btn btn-outline-primary btn-sm border border-white mx-2 "
           href="@Url.Action("HODMidEvaluationHistoryIndex", "HRDigiForm", new { Area = "DigiForm" })">
            <i class="fas fa-walking"></i> &nbsp;GoTo History
        </a>
        <a class="btn btn-outline-primary btn-sm filteredmarker-border border-white"
           data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("HODMidTermEvaluationFilterGet", "HRDigiForm", new { Area = "DigiForm" })'
           data-modaltitle="Filters - Mid Term Evaluation"
           data-modalheader="Filters - Mid Term Evaluation">
            <i class="fas fa-filter"></i>&nbsp;Filters
        </a>

        <a class="btn btn-outline-danger btn-sm border-white filteredmarker-visibility m-l-5"
           data-actionid="HODMidEvaluationIndex"
           data-url='@Url.Action("ResetFilter", "HRDigiForm", new { Area = "DigiForm" })'
           href="#"
           onclick="resetFilter(event, this);"
           style="display: none;">
            <i class="fas fa-filter"></i> Reset
        </a>
    </div>
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <table id="tbPendingEvaluation" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr role="row">
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.Grade)</th>
                    <th>@Html.DisplayNameFor(model => model.Emptype)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Assign)</th>
                    <th>@Html.DisplayNameFor(model => model.Parent)</th>
                    <th>@Html.DisplayNameFor(model => model.Doj)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>
        <div id="result"></div>
    </div>
</div>

@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            loadMidTermPendingEvaluationDataTable();
        });

        function localScript() {
            initSelect2();
            initDatePicker();

        };

        let vVUloadMidTermPendingEvaluationDataTableList = "@Url.Action("GetListsHODMidTermEvaluationPendingList", "HRDigiForm")";

        function loadMidTermPendingEvaluationDataTable() {
            genericLoadDataTable({
                pDataTableId: "#tbPendingEvaluation",
                pColumns: datatableColumns,
                pUrl: vVUloadMidTermPendingEvaluationDataTableList,
                pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,
                    grade: $('#FilterDataModel_Grade').val() ? $('#FilterDataModel_Grade').val() : null,
                    parent: $('#FilterDataModel_Parent').val() ? $('#FilterDataModel_Parent').val() : null,
                },
                pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

            });
        };

        @if ((bool)@Context.Items["isMobile"] == false)
        {
            <text>

                let datatableColumns = [
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.empno + " - " + data.name
                        },
                    },
                    { data: "grade" },
                    { data: "emptype" },
                    { data: "email" },
                    { data: "assign" },
                    { data: "parent" },
                    {
                        data: "doj",
                        width: '10.0rem',
                        render: function (data, type, row) {
                            if (data)
                                return moment(data).format("DD-MMM-YYYY");
                            else
                                return '';
                        }
                    },
                    { data: "status" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<a title="Edit" class="btn btn-outline-primary btn-sm border-none" href="@Url.Action("HODMidTermEvaluationEdit", "HRDigiForm")' + '?empno=' + data.empno + '&keyId=' + data.keyId + '"  title="Edit"><i class="fas fa-edit" aria-hidden="true"></i> </a>';
                        },
                        className: "td-icon",
                    },

                ];
            </text>
        }

            $("#GenericSearch").keypress(function (event) {
                if (event.keyCode === 13) {
                    if ($("#GenericSearch").length) {
                        loadMidTermPendingEvaluationDataTable();
                    }
                }
            });

        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                loadMidTermPendingEvaluationDataTable();
            }
        });

        function PostSave(data) {
            if (data.success) {
                $("#modalcontainer").modal('hide');
                hideLoader();
                loadMidTermPendingEvaluationDataTable();
                notify('success', data.response, 'Success');
            }
        };


        function PostFilterReLoadDataTable(data) {

            $("#modalcontainer").modal('hide');


            $("#FilterDataModel_Grade").val(data.grade);
            $("#FilterDataModel_Parent").val(data.parent);

            loadMidTermPendingEvaluationDataTable();
            hideLoader();
        }
    </script>
}
