@model TCMPLApp.WebApp.Models.CostcodeChangeRequestIndexViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

@{
    ViewData["Title"] = "HR - Approved requests";
}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="DigiForm">Digi forms</a></li>
        <li class="breadcrumb-item"><a asp-action="CostcodeChangeIndex" asp-controller="HRDigiForm" asp-area="DigiForm">Costcode change</a></li>
        <li class="breadcrumb-item active" aria-current="page">HR - Approved requests</li>
    </ol>
}

<div class="container-fluid bg-white border card rounded shadow m-auto col-xl-11 p-2">
    <div class="app-h4 app-card-header mb-2">
        <p>HR - Approved requests</p>
    </div>
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <table id="tbHRApprovedApprovals" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr role="row">
                    <th>&nbsp;</th>
                    <th>@Html.DisplayNameFor(model => model.EmpNo)</th>
                    <th>@Html.DisplayNameFor(model => model.TransferTypeText)</th>
                    <th>@Html.DisplayNameFor(model => model.CurrentCostcode)</th>
                    <th>@Html.DisplayNameFor(model => model.TargetCostcode)</th>
                    <th>@Html.DisplayNameFor(model => model.TransferDate)</th>
                    <th>@Html.DisplayNameFor(model => model.EffectiveTransferDate)</th>
                    <th>@Html.DisplayNameFor(model => model.DesgcodeText)</th>
                    <th>@Html.DisplayNameFor(model => model.StatusText)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        </table>
        <div id="result"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_DigiFormDataTableColumnsPartial");
    }
    <script src="~/js/DigiForm.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            loadHRApprovedApprovalsDataTable();

        });

        function localScript() {
            initSelect2();
        };

        $("#GenericSearch").keypress(function (event) {
            if (event.keyCode === 13) {
                if ($("#GenericSearch").length) {
                    loadHRApprovedApprovalsDataTable();
                }
            }
        });

        $('#buttonSearch').on('click', function () {
            if ($("#GenericSearch").length) {
                loadHRApprovedApprovalsDataTable();
            }
        });

        function PostFilterReLoadDataTable(data) {
            $("#modalcontainer").modal('hide');

            loadHRApprovedApprovalsDataTable();
            hideLoader();
        }
    </script>
}