@model TCMPLApp.WebApp.Models.DeskAreaUpdateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="Masters"
      asp-action="DeskAreaEdit"
      id="formDeskArea"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="AreaId" />
    @*<input type="hidden" asp-for="TagIdList" />*@
    @* @Html.ListBoxFor(y => y.TagIdList, new MultiSelectList(ViewBag.TagTypeList, "key", "value", Model.TagIdList)) *@
@*     @Html.DropDownList("Supplier", ViewBag.TagTypeList as MultiSelectList, new { @class = "chosen", @id = "supplier", @multiple = "multiple" }) *@
    <div class="modal-header">
        <h5 class="modal-title">@localizer["Area edit"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Area edit</h5> - @Model.AreaId
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="AreaDesc" class="control-label"></label>
                            <input asp-for="AreaDesc" class="form-control" required />
                            <span asp-validation-for="AreaDesc" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="AreaCatgCode" class="control-label"></label>
                            <select asp-for="AreaCatgCode" class="form-control chosen-select" asp-items="ViewBag.AreaCatgCodeList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="AreaCatgCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="AreaType" class="control-label"></label>
                            <select asp-for="AreaType" class="form-control chosen-select" asp-items="ViewBag.AreaTypeList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="AreaType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="IsRestricted" class="control-label"></label>
                            <select asp-for="IsRestricted" class="form-control chosen-select" data-placeholder="Please select..." required>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <span asp-validation-for="IsRestricted" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="IsActive" class="control-label"></label>
                            <select asp-for="IsActive" class="form-control chosen-select" data-placeholder="Please select..." required>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                            <span asp-validation-for="IsActive" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="AreaInfo" class="control-label"></label>
                            <input asp-for="AreaInfo" class="form-control" />
                            <span asp-validation-for="AreaInfo" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="TagIdList" class="control-label"></label>
                            <select asp-for="TagIdList" class="form-control chosen-select" asp-items="ViewBag.TagTypeList" data-placeholder="Please select..." multiple="multiple">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>