@model TCMPLApp.WebApp.Models.DeskAreaEmployeeMapCreateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="Masters"
      asp-action="DeskAreaEmployeeMapCreate"
      id="formOffice"
      data-ajax="true"
      data-ajax-update="#modal-content"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Employee Desk Mapping create"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Employee Desk Mapping create</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="Empno" class="control-label"></label>
                            <select asp-for="Empno" class="form-control chosen-select" asp-items="ViewBag.EmployeeList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Empno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <div class="dt-met">
                                @Html.DisplayNameFor(model => model.BaseOffice)
                            </div>
                            <div class="dd-met">
                                <b id="BaseOfficeLocation"></b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <div class="dt-met">
                                <label id="lblTags" class="control-label">Tags</label>
                            </div>
                            <div class="dd-met">
                                <label id="bTags"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="OfficeCode" class="control-label"></label>
                            <select asp-for="OfficeCode" class="form-control chosen-select" asp-items="ViewBag.BaseOfficeList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="OfficeCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="AreaId" class="control-label"></label>
                            <select asp-for="AreaId" class="form-control chosen-select" asp-items="ViewBag.AreaList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="AreaId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="DeskId" class="control-label"></label>
                            <select asp-for="DeskId" class="form-control chosen-select" asp-items="ViewBag.DeskList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="DeskId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

