@model TCMPLApp.WebApp.Models.DeskMasterExcludeViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="Masters"
      asp-action="DeskMasterExcludeView"
      id="formDeskMasterExcludeView"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">


    <input type="hidden" asp-for="Deskid" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Desk exclude"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Desk exclude - @Model.Deskid</h5>
            </div>
            <div class="card-block">


                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="DeskDeletionReason" class="control-label"></label>
                            <select asp-for="DeskDeletionReason" class="form-control Select2-required" asp-items="ViewBag.DmsDeskLockReasonList" data-placeholder="Please select..." required>
                                <option selected></option>
                            </select>
                        </div>
                    </div>
                </div>

              @*  <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <textarea asp-for="Remarks" class="form-control" placeholder="@localizer["Remarks"]" rows="3" required></textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

