@model TCMPLApp.WebApp.Models.DeskAreaOfficeMapDetailsViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Master"
      asp-action=""
      id="formDeskAreaOfficeMapDetails"
      data-ajax="true"
      data-ajax-update="#modal-content"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Desk Area Office Map Details"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Desk Area Office Map Details</h5>
            </div>
            <div class="card-block p-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6 col-md-1">
                            <div class="form-group">
                                <div class="dt-met">
                                    @Html.DisplayNameFor(model => model.OfficeText)
                                </div>
                                <div class="dd-met">
                                    @Html.Raw(Model.OfficeText)
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <div class="form-group">
                                <div class="dt-met">
                                    @Html.DisplayNameFor(model => model.AreaText)
                                </div>
                                <div class="dd-met">
                                    @Html.Raw(Model.AreaText)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>
