@model TCMPLApp.WebApp.Models.DeskAreaEmpAreaTypeMapViewModel

@{
    ViewData["Title"] = "Desk Area Employee - AreaType Mapping";
}

@Html.AntiForgeryToken()

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="DMS">Desk management</a></li>
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Masters" asp-area="DMS">Masters</a></li>
        <li class="breadcrumb-item active" aria-current="page">Desk Area Employee - AreaType Mapping</li>
    </ol>
}

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@Html.HiddenFor(m => m.FilterDataModel.IsActive)
<input readonly type="hidden" asp-for="@Model.FilterDataModel.DeskType" />
<div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
    <div class="app-h4 app-card-header mb-2">
        <p>Desk Area EmpAreaType Mapping</p>
    </div>
    <div class="d-flex flex-row">
        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.DMS.DMSHelper.ActionITAdm))
        {
            <a title="New Desk Area EmpAreaType Mapping" class="btn btn-outline-primary btn-sm border border-white" href="#"
               data-jqueryselector="openmodal"
               data-modalcontainer="modalcontainer"
               data-modalpopupwidth="rightw35"
               data-url='@Url.Action("DeskAreaEmpAreaTypeMapCreate", "Masters", new { Area = "DMS" })'
               data-statichtmlsourcedivid=""
               data-modaltitle="New Desk Area EmpAreaType Map"
               data-modalheader="New Desk Area EmpAreaType Map">
                <i class="fas fa-plus"></i> Create
            </a>
        }
        <a class="btn btn-outline-primary btn-sm filteredmarker-border border-white"
           data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("DeskAreaEmpAreaTypeMapFilterGet", "Masters", new { Area = "DMS" })'
           data-modaltitle="Filters - Desk Area Desk Area EmpAreaType Mapping"
           data-modalheader="Filters - Desk Area Desk Area EmpAreaType Mapping">
            <i class="fas fa-filter"></i>&nbsp;Filters
        </a>
        <a class="btn btn-outline-danger btn-sm border-white filteredmarker-visibility m-l-5"
           data-actionid="DeskAreaEmpAreaTypeMapIndex"
           data-url='@Url.Action("ResetFilter", "Masters", new { Area = "DMS" })'
           href="#"
           onclick="resetFilter(event, this);"
           style="display: none;">
            <i class="fas fa-filter"></i> Reset
        </a>
        <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
           href="#"
           data-jqueryselector="binarydownload"
           data-url="@(Url.Action("DeskAreaEmpAreaTypeMapExcelDownload", "Masters", new { Area = "DMS" }))">
            <i class="fas fa-file-excel green-color"></i>&nbsp;Export
        </a>
    </div>
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <table id="tbDeskAreaEmpAreaTypeMap" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr>
                    <th>&nbsp;</th>
                    <th>@Html.DisplayNameFor(model => model.AreaCatgCode)</th>
                    <th>@Html.DisplayNameFor(model => model.AreaId)</th>
                    <th>@Html.DisplayNameFor(model => model.DeskAreaTypeCode)</th>
                    <th>@Html.DisplayNameFor(model => model.EmpName)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>

        <div id="result"></div>
    </div>
</div>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            loadDeskAreaEmpAreaTypeMapDataTable();
        });

        function localScript() {
            initSelect2();
        }

        let vVUloadDeskAreaEmpAreaTypeMapList = "@Url.Action("GetListsDeskAreaEmpAreaTypeMap", "Masters")";

        function loadDeskAreaEmpAreaTypeMapDataTable() {
            genericLoadDataTable({
                pDataTableId: "#tbDeskAreaEmpAreaTypeMap",
                pColumns: datatableDeskAreaEmpAreaTypeMapColumns,
                pUrl: vVUloadDeskAreaEmpAreaTypeMapList,
                pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,
                    deskType: $('#FilterDataModel_DeskType').val() ? $('#FilterDataModel_DeskType').val() : null,
                },
                pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

            });
        };

        @if ((bool)@Context.Items["isMobile"] == false)
        {
            <text>
                let datatableDeskAreaEmpAreaTypeMapColumns = [
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<button class="btn btn-outline-info btn-sm border-none  " ' +
                                ' data-jqueryselector="openmodal" ' +
                                ' data-modalcontainer="modalcontainer" ' +
                                ' data-url="@Url.Action("DeskAreaEmpAreaTypeMapDetails", "Masters", new { Area = "DMS" })"' +
                                ' data-modalpopupwidth="rightw35" ' +
                                ' data-id="' + data.keyId + '"' +
                                ' data-modaltitle="Desk Area EmpAreaType Map Detail" ' +
                                ' data-modalheader="Desk Area EmpAreaType Map Detail" ' +
                                ' > ' +
                                ' <i class="far fa-eye" aria-hidden="true"></i> ' +
                                ' </button>'
                        },
                        'className': "td-icon",
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.areaCatgCode + " - " + data.areaCatgDesc
                        },
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.areaId + " - " + data.areaDesc
                        },
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.deskAreaTypeCode + " - " + data.deskAreaTypeDesc
                        },
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.empNo + " - " + data.empName
                        },
                    },
                    {
                        data: "modifiedOn",
                        width: '10.0rem',
                        render: function (data, type, row) {
                            if (data)
                                return moment(data).format("DD-MMM-YYYY");
                            else
                                return '';
                        }
                    },
                    { data: "modifiedBy" },
                    {
                        data: null,
                        render: function (data, type, row) {

                            return '<button title="Edit" class="btn btn-outline-primary btn-sm border-none" ' +
                                ' data-jqueryselector="openmodal" ' +
                                ' data-modalcontainer="modalcontainer" ' +
                                ' data-url="@Url.Action("DeskAreaEmpAreaTypeMapEdit", "Masters", new { Area = "DMS" })" ' +
                                ' data-modalpopupwidth="rightw35" ' +
                                ' data-id="' + row.keyId + '"' +
                                ' data-modaltitle="Edit Desk Area EmpAreaType Details" ' +
                                ' data-modalheader="Edit Desk Area EmpAreaType Details"> ' +
                                ' <i class="fas fa-edit" aria-hidden="true"></i> ' +
                                ' </button>';
                        },
                        className: "td-icon",
                    },
                    {
                        'data': null,
                        render: function (data, type, row) {

                            return '<button title="Delete" class="btn btn-outline-danger btn-sm border-none " ' +
                                ' onclick = "showDeleteConfirmationPopup(event,this);" ' +
                                ' data-jqueryselector = "showconfirmationmodal" ' +
                                ' data-url="@Url.Action("DeskAreaEmpAreaTypeMapDelete", "Masters", new { Area = "DMS" })"' +
                                ' data-id="' + data.keyId + '"' +
                                ' data-PostDeleteReLoadDataTables="OK" ' +
                                ' data-modaltitle="Please Confirm!" ' +
                                ' data-confirmationtext="Do you want to Delete Desk Area EmpAreaType Map details :-' + data.areaId + ' - ' + data.empName + ' " ' +
                                ' data-confirmationtype="warning" ' +
                                ' title="Delete Desk Area EmpAreaType Map" ' +
                                ' data-confirmbuttontext="Delete" > ' +
                                ' <i class="fas fa-trash" aria-hidden="true"></i> ' +
                                ' </button>';

                        },
                        'className': "td-icon text-center  align-middle",
                    },
                ];

            </text>
        }
            function PostSave(data) {
                if (data.success) {
                    $("#modalcontainer").modal('hide');
                    hideLoader();
                    loadDeskAreaEmpAreaTypeMapDataTable();
                    notify('success', data.response, 'Success');
                }
            }

        $("#GenericSearch").keypress(function (event) {
            if (event.keyCode === 13) {
                if ($("#GenericSearch").length) {
                    loadDeskAreaEmpAreaTypeMapDataTable();
                }
            }
        });

        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                loadDeskAreaEmpAreaTypeMapDataTable();
            }
        });
        function PostDeleteReLoadDataTables(data) {
            if (data.success) {
                loadDeskAreaEmpAreaTypeMapDataTable();
                hideLoader();
                notify('success', data.message, 'Success');
            }
        }
        function PostFilterReLoadDataTable(data) {

            $("#modalcontainer").modal('hide');
            $("#FilterDataModel_DeskType").val(data.deskType);
            loadDeskAreaEmpAreaTypeMapDataTable();
            hideLoader();
        }
    </script>
}
