@model TCMPLApp.WebApp.Models.TagObjectMapViewModel

@{
    ViewData["Title"] = "Tag Object Mapping";
}

@Html.AntiForgeryToken()

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="DMS">Desk management</a></li>
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Masters" asp-area="DMS">Masters</a></li>
        <li class="breadcrumb-item active">Tag object mapping</li>
    </ol>
}

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
@Html.HiddenFor(m => m.FilterDataModel.IsActive)
<input readonly type="hidden" asp-for="@Model.FilterDataModel.TagId" />
<input readonly type="hidden" asp-for="@Model.FilterDataModel.ObjTypeId" />

<div class="container-fluid bg-white border rounded shadow m-auto col-xl-11 p-2 ">
    <div class="app-h4 app-card-header mb-2">
        <p>Tag object mapping</p>
    </div>
    <div class="d-flex flex-row">

        <a title="New Tag object mapping" class="btn btn-outline-primary btn-sm border border-white" href="#"
           data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("TagObjectMappingCreate", "Masters", new { Area = "DMS" })'
           data-statichtmlsourcedivid=""
           data-modaltitle="New Tag object mapping"
           data-modalheader="New Tag object mapping">
            <i class="fas fa-plus"></i> Create
        </a>
        <a class="btn btn-outline-primary btn-sm filteredmarker-border border-white"
           data-jqueryselector="openmodal"
           data-modalcontainer="modalcontainer"
           data-modalpopupwidth="rightw35"
           data-url='@Url.Action("TagObjectMappingFilterGet", "Masters", new { Area = "DMS" })'
           data-modaltitle="Filters - Desk Area User Mapping"
           data-modalheader="Filters - Desk Area User Mapping">
            <i class="fas fa-filter"></i>&nbsp;Filters
        </a>
        <a class="btn btn-outline-danger btn-sm border-white filteredmarker-visibility m-l-5"
           data-actionid="TagObjectMappingIndex"
           data-url='@Url.Action("ResetFilter", "Masters", new { Area = "DMS" })'
           href="#"
           onclick="resetFilter(event, this);"
           style="display: none;">
            <i class="fas fa-filter"></i> Reset
        </a>
        <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
           href="#"
           data-jqueryselector="binarydownload"
           data-url="@(Url.Action("TagObjectMappingExcelDownload", "Masters", new { Area = "DMS" }))">
            <i class="fas fa-file-excel green-color"></i>&nbsp;Export
        </a>
    </div>
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">
        <div class="input-group pt-1 pl-1 pr-1 ">
            <input type="text" class="form-control form-control-sm border" id="GenericSearch" name="GenericSearch" placeholder="Search...">
            <div class="input-group-append">
                <button class="btn btn-sm btn-outline-info" type="button" id="buttonSearch"><i class="fa fa-search"></i></button>
            </div>
        </div>

        <table id="tbTagObjMapping" class="table table-striped table-bordered table-responsive-lg ">
            <thead class="bg-info text-white">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.TagId)</th>
                    <th>@Html.DisplayNameFor(model => model.ObjTypeId)</th>
                    <th>@Html.DisplayNameFor(model => model.ObjId)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.ModifiedOn)</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
        </table>

        <div id="result"></div>
    </div>
</div>
@section Scripts {

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            loadTagObjMappingDataTable();
        });

        function localScript() {
            initSelect2();
            ObjectTypeChange();
        }

        function ObjectTypeChange() {

            $('#ObjTypeId').change(function () {

                var objTypeId = $(this).val();
                var selected = $('#ObjTypeId').find(':selected');
                var vobjType = selected[0].text;
                
                if (objTypeId == null || objTypeId === '') {
                    $('#divObjId').hide();

                }
                else {
                    $('#divObjId').show();

                    $.ajax({

                        url: "@Url.Action("GetObjIdList", "Masters", new { Area = "DMS" })",
                        type: 'GET',
                        data: {
                            objTypeId: objTypeId
                        },
                        beforeSend: function () {
                            showModalLoader();
                        },
                        success: function (data) {
                            $('#labeltext').text(vobjType);
                            let dropdown = $('#ObjId');
                            dropdown.empty();
                            var flag = false;
                            var phase = null;
                            var options = '';
                            options += '<option> </option>';
                            $(data).each(function () {
                                flag = true;
                                options += '<option value="' + this.dataValueField + '">' + this.dataTextField + '</option>';
                            });
                            dropdown.html(options);

                            if (flag == false) {
                                phase = null;
                            }

                            dropdown.val(phase);
                            hideModalLoader();
                        },
                        error: function (result) {
                            hideModalLoader();
                            notify($.i18n('Error'), result.responseText, 'danger');
                        }
                    });
                }

            });
        }

        let vVUloadTagObjMappingList = "@Url.Action("GetListsTagObjMapping", "Masters")";

        function loadTagObjMappingDataTable() {
            genericLoadDataTable({
                pDataTableId: "#tbTagObjMapping",
                pColumns: datatableTagObjMappingColumns,
                pUrl: vVUloadTagObjMappingList,
                pUrlParams: {
                    genericSearch: $('#GenericSearch').val() ? $('#GenericSearch').val() : null,
                    tagId: $('#FilterDataModel_TagId').val() ? $('#FilterDataModel_TagId').val() : null,
                    objTypeId: $('#FilterDataModel_ObjTypeId').val() ? $('#FilterDataModel_ObjTypeId').val() : null,
                },
                pRequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()

            });
        };

        @if ((bool)@Context.Items["isMobile"] == false)
        {
            <text>
                let datatableTagObjMappingColumns = [
                    { data: "tagName" },
                    { data: "objTypeName" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return data.objId + " - " + data.objDesc
                        },
                    },
                    { data: "modifiedBy" },
                    {
                        data: "modifiedOn",
                        render: function (data, type, row) {
                            return moment(data).format("DD-MMM-YYYY");
                        }
                    },
                    {
                        'data': null,
                        render: function (data, type, row) {

                            return '<button title="Delete" class="btn btn-outline-danger btn-sm border-none " ' +
                                ' onclick = "showDeleteConfirmationPopup(event,this);" ' +
                                ' data-jqueryselector = "showconfirmationmodal" ' +
                                ' data-url="@Url.Action("TagObjectMappingDelete", "Masters", new { Area = "DMS" })"' +
                                ' data-id="' + data.keyId + '"' +
                                ' data-PostDeleteReLoadDataTables="OK" ' +
                                ' data-modaltitle="Please Confirm!" ' +
                                ' data-confirmationtext="Do you want to Delete Tag Object Mapping details :-' + data.objId + ' - ' + data.objDesc + ' " ' +
                                ' data-confirmationtype="warning" ' +
                                ' title="Delete Tag Object Mapping" ' +
                                ' data-confirmbuttontext="Delete" > ' +
                                ' <i class="fas fa-trash" aria-hidden="true"></i> ' +
                                ' </button>';

                        },
                        'className': "td-icon text-center  align-middle",
                    },
                ];

            </text>
        }
            function PostSave(data) {
                if (data.success) {
                    $("#modalcontainer").modal('hide');
                    hideLoader();
                    loadTagObjMappingDataTable();
                    notify('success', data.response, 'Success');
                }
            }

        $("#GenericSearch").keypress(function (event) {
            if (event.keyCode === 13) {
                if ($("#GenericSearch").length) {
                    loadTagObjMappingDataTable();
                }
            }
        });

        $('#buttonSearch').on('click', function () {

            if ($("#GenericSearch").length) {
                loadTagObjMappingDataTable();
            }
        });
        function PostDeleteReLoadDataTables(data) {
            if (data.success) {
                loadTagObjMappingDataTable();
                hideLoader();
                notify('success', data.message, 'Success');
            }
        }
        function PostFilterReLoadDataTable(data) {

            $("#modalcontainer").modal('hide');
            $("#FilterDataModel_TagId").val(data.tagId);
            $("#FilterDataModel_ObjTypeId").val(data.objTypeId);
            loadTagObjMappingDataTable();
            hideLoader();
        }
    </script>
}
