@model TCMPLApp.WebApp.Models.GratuityNominationCreateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer
@{
    string isOnBehalf = ViewBag.isOnBehalf ?? NotOk;
    string urlGratuityAdd = isOnBehalf == IsOk ? ("OnBehalfGratuityNominationAdd") : ("GratuityNominationAdd");

}
@Html.AntiForgeryToken()
@section styles
    {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}
<form asp-controller="EmpGenInfoDetails"
      asp-action=@urlGratuityAdd
      id="formGratuityNomination"
      data-id="@Model.Empno"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="onDataTableReloadSuccess;onSuccessTab('GratuityIndex')"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.NomDob" />
    <input type="hidden" asp-for="@Model.Empno" />
    <div class="modal-header">
        <h5 class="modal-title">@localizer["Add Gratuity Nomination Details"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Add Gratuity Nomination Details</h5>
            </div>
            <div class="card-block">
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="NomName" class="control-label"></label>
                            <input asp-for="NomName" class="form-control text-uppercase " required />
                            <span asp-validation-for="NomName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="NomAdd1" class="control-label"></label>
                            <textarea asp-for="NomAdd1" class="form-control" rows="2" maxlength="200" required></textarea>
                            <span asp-validation-for="NomAdd1" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="Relation" class="control-label"></label>
                            <input asp-for="Relation" class="form-control text-uppercase" required />
                            <span asp-validation-for="Relation" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="NomDob" class="control-label"></label>
                            <input id="nomDob" class="form-control datepickerFilter" placeholder="@localizer["Nominee Birth Date"]" value="@Model.NomDob?.ToString("dd-MMM-yyyy")" required />
                            <span asp-validation-for="NomDob" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="SharePcnt" class="control-label"></label>
                            <input asp-for="SharePcnt" class="form-control" onkeypress="return isNumber(event)" required />
                            <span asp-validation-for="SharePcnt" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>
@section Scripts
    {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }