@model TCMPLApp.WebApp.Models.FileUploadViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer
@{
    string isOnBehalf = ViewBag.isOnBehalf ?? NotOk;
    string urlFileUpload = isOnBehalf == IsOk ? ("OnBehalfFileUploadEdit") : ("FileUploadEdit");

}
@Html.AntiForgeryToken()

<form id="formfileUploadEdit"
      asp-controller="EmpGenInfoDetails"
      asp-action=@urlFileUpload
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <div style="display:none">
        @Html.HiddenFor(m => m.FileType)
        @Html.HiddenFor(m => m.FileName)
        @Html.HiddenFor(m => m.RefNumber)
        @Html.HiddenFor(m => m.Empno)
        @Html.HiddenFor(m => m.EmpName)


    </div>
    <div class="modal-header">
        <h5 class="modal-title">@localizer["File upload "]    </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["File upload "] : <b style="color:#ff5722;"> @Model.FileType </b> </h5>
                <br />
                <br />
                <span class="dd-met">
                    @(Model.Empno + " - " + Model.EmpName)
                </span>
            </div>
            <div class="card-block">
                <div class="form-group">
                    <div class="row">

                        <div class="col-md-12 ">
                            <div id="iddropzone2" class="dropzone dropzone-design mb-10">
                                <div class="dz-details">
                                    <div class="dz-filename"><span data-dz-name></span></div>
                                    <div class="dz-size" data-dz-size></div>
                                    <img data-dz-thumbnail />
                                    <div class="dz-error-message"><span data-dz-errormessage></span></div>
                                </div>
                                <div class="dz-default dz-message" data=""><span>Drop file here to upload</span></div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="btnSaveFileUpdate"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

