@model TCMPLApp.WebApp.Models.EmpPensionFundViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div class="card-deck">
    <div class="card shadow col-md-12 col-xl">
        <div class="app-h4 app-card-header p-2">
            @localizer["Employees Pension Fund"]
        </div>
        <div class="card-body">
            <div class="d-flex flex-row">
                @if (@Model.LockStatusDetailViewModel.IsNominationOpen == "OK")
                {
                    <a title="New Employees Pension Fund" class="btn btn-outline-primary btn-sm border border-white" href="#"
                   data-jqueryselector="openmodal"
                   data-modalcontainer="modalcontainer"
                   data-modalpopupwidth="rightw35"
                   data-url='@Url.Action("EmpPensionFundAdd", "EmpGenInfoDetails", new { Area = "EmpGenInfo" })'
                   data-statichtmlsourcedivid=""
                   data-modaltitle="New Employees Pension Fund"
                   data-modalheader="New Employees Pension Fund">
                        <i class="fas fa-plus"></i> Add
                    </a>
                }
            </div>

            <table id="tbEmpPensionFundGrid" class="table table-striped table-bordered table-responsive-lg ">
                <thead class="bg-info text-white">
                    <tr>
                        <th>Nominee Name</th>
                        <th>Nominee Address</th>
                        <th>Relation</th>
                        <th>Birth Date</th>
                        @if (@Model.LockStatusDetailViewModel.IsNominationOpen == "OK")
                        {
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                        }
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

