@model TCMPLApp.WebApp.Models.LeaveOnDutyTab5ViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Attendance"
      asp-action="OnDutyCreateTab5"
      id="formNewOnDutyCreate5"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSaveReLoadDataTable(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.StartDate" />
    <input type="hidden" asp-for="@Model.Empno" />
    <input type="hidden" asp-for="@Model.OndutyType" value="SW" />

    <div class="modal-header">
        <h5 class="modal-title">On duty application</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h6>@localizer["Smart work"]</h6>
            </div>
            <div class="card-block">
                <div class="card-pill">
                    <ul class="nav nav-tabs" id="tabs-tab" role="tablist">
                        <li class="nav-item">

                            <button id="btndetails1" name="submit" type="submit" formnovalidate="" value="Details1" class="nav-link bg-white" aria-selected="false">
                                @localizer["LCome/Ego/MP"]
                            </button>
                        </li>
                        <li class="nav-item">

                            <button id="btndetails2" name="submit" type="submit" formnovalidate="" value="Details2" class="nav-link bg-white" aria-selected="false">
                                @localizer["Forgetting Punch"]
                            </button>
                        </li>
                        <li class="nav-item">

                            <button id="btndetails3" name="submit" type="submit" formnovalidate="" value="Details3" class="nav-link bg-white" aria-selected="false">
                                @localizer["On Duty"]
                            </button>
                        </li>
                        <li class="nav-item">

                            <button id="btndetails4" name="submit" type="submit" formnovalidate="" value="Details4" class="nav-link bg-white" aria-selected="false">
                                @localizer["Deput/On Tour"]
                            </button>

                        <li class="nav-item">
                            <a class="nav-link active" id="tabs-detail5-tab" data-toggle="pill" href="#tabs-detail5" role="tab" aria-controls="tabs-detail5" aria-selected="true">
                                    @localizer["Smart Work"]
                            </a>
                        </li>
                        <environment include="Development,Staging">
                            <li class="nav-item">
                                <button id="btndetails6" name="submit" type="submit" formnovalidate="" value="Details6" class="nav-link bg-white" aria-selected="false">
                                        @localizer["Missed Corework Hours"]
                                </button>
                            </li>
                        </environment>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-detail5" role="tabpanel" aria-labelledby="tabs-detail5-tab">
                        <div id="pw-detail5">

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label asp-for="OndutyType" class="control-label"></label>
                                        <input id="OndutyType" class="form-control" value="Smart work" readonly />

                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label asp-for="StartDate" class="control-label"></label>
                                        <input id="startDate" class="form-control datepicker" placeholder="@localizer["Start date"]" value="" required />
                                        <span asp-validation-for="StartDate" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>


                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label asp-for="Reason" class="control-label"></label>
                                        <textarea asp-for="Reason" class="form-control" rows="2" placeholder="Description" required></textarea>
                                        <span asp-validation-for="Reason" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm" name="submit" value="Confirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

@*@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@