@model TCMPLApp.WebApp.Models.ShiftConfigDetailsUpdateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Attendance"
      asp-action="ShiftEditTab2"
      id="formShiftEdit"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data);"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="Shiftcode" />
    <input type="hidden" asp-for="ChFdStartMi" />
    <input type="hidden" asp-for="ChFdEndMi" />
    <input type="hidden" asp-for="ChFhStartMi" />
    <input type="hidden" asp-for="ChFhEndMi" />
    <input type="hidden" asp-for="ChShStartMi" />
    <input type="hidden" asp-for="ChShEndMi" />
    <input type="hidden" asp-for="WorkHrsStartMi" />
    <input type="hidden" asp-for="WorkHrsEndMi" />
    <input type="hidden" asp-for="FirstPunchAfterMi" />
    <input type="hidden" asp-for="LastPunchBeforeMi" />


    <div class="modal-header">
        <h5 class="modal-title">Shift Edit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@Model.Shiftcode - @Model.Shiftdesc</h5>
            </div>
            <div class="card-block">
                <div class="card-pill">
                    <ul class="nav nav-tabs " id="tabs-tab" role="tablist">
                        <li class="nav-item">

                            <button id="btndetails1" name="submit" type="submit" formnovalidate="" value="Details1" class="nav-link bg-white" aria-selected="false">
                                @localizer["Shift Details"]
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" id="tabs-detail2-tab" data-toggle="pill" href="#tabs-detail2" role="tab" aria-controls="tabs-detail2" aria-selected="true">
                                @localizer["Shift Config Details"]
                            </a>
                        </li>
                        <li class="nav-item">
                            <button id="btndetails3" name="submit" type="submit" formnovalidate="" value="Details3" class="nav-link bg-white" aria-selected="false">
                                @localizer["Shift Half Day Details"]
                            </button>
                        </li>
                        <li class="nav-item">
                            <button id="btndetails4" name="submit" type="submit" formnovalidate="" value="Details4" class="nav-link bg-white" aria-selected="false">
                                @localizer["Shift Lunch Time Details"]
                            </button>
                        </li>
                    </ul> 
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tabs-detail1" role="tabpanel" aria-labelledby="tabs-detail1-tab">
                        <div id="pw-detail2">
                            <div class="modal-body">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="row">

                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ChFdStartMi" class="control-label"></label>
                                                    <input id="chFdStartMi" class="form-control datetimepicker" value="@Model.ChFdStartMi" placeholder="@localizer["HH:mm"]" required />

                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ChFdEndMi" class="control-label"></label>
                                                    <input id="chFdEndMi" class="form-control datetimepicker" value="@Model.ChFdEndMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ChFhStartMi" class="control-label"></label>
                                                    <input id="chFhStartMi" class="form-control datetimepicker" value="@Model.ChFhStartMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ChFhEndMi" class="control-label"></label>
                                                    <input id="chFhEndMi" class="form-control datetimepicker" value="@Model.ChFhEndMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ChShStartMi" class="control-label"></label>
                                                    <input id="chShStartMi" class="form-control datetimepicker" value="@Model.ChShStartMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="ChShEndMi" class="control-label"></label>
                                                    <input id="chShEndMi" class="form-control datetimepicker" value="@Model.ChShEndMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="FullDayWorkMi" class="control-label"></label>
                                                    <input asp-for="FullDayWorkMi" onkeypress="return isNumber(event)" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="HalfDayWorkMi" class="control-label"></label>
                                                    <input asp-for="HalfDayWorkMi" onkeypress="return isNumber(event)" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="FullWeekWorkMi" class="control-label"></label>
                                                    <input asp-for="FullWeekWorkMi" onkeypress="return isNumber(event)" class="form-control" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="WorkHrsStartMi" class="control-label"></label>
                                                    <input id="workHrsStartMi" class="form-control datetimepicker" value="@Model.WorkHrsStartMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="WorkHrsEndMi" class="control-label"></label>
                                                    <input id="workHrsEndMi" class="form-control datetimepicker" value="@Model.WorkHrsEndMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="FirstPunchAfterMi" class="control-label"></label>
                                                    <input id="firstPunchAfterMi" class="form-control datetimepicker" value="@Model.FirstPunchAfterMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-md-12">
                                                <div class="form-group">
                                                    <label asp-for="LastPunchBeforeMi" class="control-label"></label>
                                                    <input id="lastPunchBeforeMi" class="form-control datetimepicker" value="@Model.LastPunchBeforeMi" placeholder="@localizer["HH:mm"]" required />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm" name="submit" value="Confirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
    <div id="results" style="display:none">@TempData["Message"]</div>
</form>