@model TCMPLApp.WebApp.Models.LeavePLReviseReviewViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="Attendance"
      asp-action="LeavePLReviseReviewSave"
      id="formLeavePLReviseReview"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update="#modal-content"
      data-ajax-begin="onBegin($('btneditleave'))"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSaveReLoadDataTable(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.Address" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.ApplicationId" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.CareTaker" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.Discrepancies" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.EmpName" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.EndDate" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.LastReporting" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.LeadName" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.LeavePeriod" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.LeaveType" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.MedCertFileNm" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.PhoneNumber" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.POffice" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.Project" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.Reason" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.ResumingDuty" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.StartDate" />
    <input type="hidden" asp-for="@Model.LeaveDetailsViewModel.StdNumber" />


    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.RevisedStartDate" />
    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.RevisedEndDate" />
    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.RevisedAppover" />
    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.RevisedLeavePeriod" />
    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.ApplicationId" />
    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.RevisedHalfDayDay" />
    <input type="hidden" asp-for="@Model.LeavePLReviseViewModel.LeaveType" />
    <input type="hidden" asp-for="@Model.Discrepancies" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Leave application"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Application Id <b>@Html.DisplayFor(model => model.LeaveDetailsViewModel.ApplicationId)</b></h5>
            </div>
            <div class="card-block">
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">Entry type </div>
                            <div class="dd-met">@(Model.LeaveDetailsViewModel.FlagIsAdj =="OK"?"Leave adjustment":"Leave application")</div>
                        </div>
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.ApplicationDate) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.ApplicationDate)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.POffice) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.POffice)</div>
                        </div>
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.Project) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.Project)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.LeadName) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.LeadName)</div>
                        </div>
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.CareTaker) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.CareTaker)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.LeaveType) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.LeaveType)</div>
                        </div>
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.LeavePeriod) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.LeavePeriod)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.StartDate) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.StartDate)</div>
                        </div>
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.EndDate) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.EndDate)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.Reason) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.Reason)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.LastReporting) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.LastReporting)</div>
                        </div>
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.ResumingDuty) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.ResumingDuty)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.PhoneNumber) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.PhoneNumber)</div>
                        </div>
                        <div class="col-md-12 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.StdNumber) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.StdNumber)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-md-12 col-xl-12">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeaveDetailsViewModel.Address) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeaveDetailsViewModel.Address)</div>
                        </div>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(Model.LeaveDetailsViewModel.Discrepancies))
                {
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="dt-met">Your application contains following discrepancies</div>
                                <div class="dd-met">@(Model.LeaveDetailsViewModel.Discrepancies)</div>
                            </div>
                        </div>
                    </div>
                }


                <!-- R e v i s i o n -->
                <hr />
                <div class="dt-met">Revised Leave Details</div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-md-12 col-xl-6">

                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeavePLReviseViewModel.RevisedAppover) </div>
                            <div class="dd-met">@(Model.LeavePLReviseViewModel.RevisedAppover + " - " + ViewBag.ApproverDetails.Name) </div>
                        </div>
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeavePLReviseViewModel.RevisedLeavePeriod) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.CalcLeavePeriod)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeavePLReviseViewModel.RevisedStartDate) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeavePLReviseViewModel.RevisedStartDate)</div>
                        </div>
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LeavePLReviseViewModel.RevisedEndDate) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LeavePLReviseViewModel.RevisedEndDate)</div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col">
                            <div id="divHalfDay">
                                <div class="dt-met">@Html.DisplayNameFor(model => model.LeavePLReviseViewModel.RevisedHalfDayDay) </div>
                                <div class="dd-met">@Html.DisplayFor(model => model.LeavePLReviseViewModel.RevisedHalfDayDay)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <div class="row">
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.LastReporting) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.LastReporting)</div>
                        </div>
                        <div class="col-mb-6 col-xl-6">
                            <div class="dt-met">@Html.DisplayNameFor(model => model.ResumingDuty) </div>
                            <div class="dd-met">@Html.DisplayFor(model => model.ResumingDuty)</div>
                        </div>
                    </div>
                </div>

                @if (!string.IsNullOrEmpty(Model.Discrepancies))
                {
                    <div class="form-group mb-2">
                        <div class="row">
                            <div class="col">
                                <div class="dt-met">Your application contains following discrepancies</div>
                                <div class="dd-met">@(Model.Discrepancies)</div>
                            </div>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>
    <div class="modal-footer">
        @if (Model.IsLeaveApplicationOk)
        {
            <button class="btn btn-primary" type="submit" id="btnreviewrevisionsubmit"
                    data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                    data-text="@localizer["Confirm"]">
                @localizer["Confirm"]
            </button>
        }
        <button class="btn btn-outline-primary" type="button" id="btneditrevision"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Edit leave"]">
            @localizer["Edit leave"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>