@model TCMPLApp.WebApp.Models.LcMainCreateViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="LetterOfCredit"
      asp-action="LetterOfCreditMainCreate"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-success="onDataTableReloadSuccess;PostSaveReLoadDataTable(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

           @Html.HiddenFor(m => m.SendToTreasury)
      
    <div class="modal-header">
        <h5 class="modal-title">Letter of credit</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["New Letter of credit"]</h5>
            </div>
            <div class="card-block">

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label asp-for="CompanyCode" class="control-label"></label>
                            <select asp-for="CompanyCode" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Companies" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="CompanyCode" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 ">
                            <label asp-for="LcAmount" class="control-label"></label>
                            <input asp-for="LcAmount" class="form-control" maxlength="15" placeholder="Lc Amount" type="number" required />
                            <span asp-validation-for="LcAmount" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label asp-for="PaymentYyyymm" class="control-label"></label>
                            <input asp-for="PaymentYyyymm" class="form-control" maxlength="6" type="number" placeholder="yyyymm" required />
                            <span asp-validation-for="PaymentYyyymm" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 ">
                            <label asp-for="PaymentYyyymmHalf" class="control-label"></label>
                            <select asp-for="PaymentYyyymmHalf" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.YymmHalfs" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="PaymentYyyymmHalf" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label asp-for="Projno" class="control-label"></label>
                            <select asp-for="Projno" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Projects" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Projno" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 ">
                            <label asp-for="Vendor" class="control-label"></label>
                            <select asp-for="Vendor" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Vendors" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Vendor" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 ">
                            <label asp-for="Currency" class="control-label"></label>
                            <select asp-for="Currency" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.Currencies" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                       
                    </div>
                </div>
                
                 
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label asp-for="Remarks" class="control-label"></label>
                            <textarea asp-for="Remarks" class="form-control" rows="3" required></textarea>
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>

