@model TCMPLApp.WebApp.Models.InternalTransferUpdateViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()
<form asp-controller="HRMIS"
      asp-action="InternalTransferEdit"
      id="formInternalTransfer"
      data-ajax="true"
      data-ajax-update="#modal-content"
      data-ajax-method="post"
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null);localScript()"
      data-ajax-success="PostSave(data)"
      data-ajax-failure="onError"
      accept-charset="UTF-8">
    <input type="hidden" asp-for="@Model.TransferDate" />
    <input type="hidden" asp-for="@Model.KeyId" />
    <input type="hidden" asp-for="@Model.Empno" />
    <input type="hidden" asp-for="@Model.EmployeeName" />
    <input type="hidden" asp-for="@Model.FromCostcode" />

    <div class="modal-header">
        <h5 class="modal-title">@localizer["Edit Internal Transfer"]</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>Edit Internal Transfer</h5>
            </div>
            <div class="card-block">

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <div class="dt-met">
                                @Html.DisplayNameFor(model=> model.EmployeeName)
                            </div>
                            <div class="dd-met">
                                @($@"{Model.Empno} - {Model.EmployeeName}")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <div class="dt-met">
                                @Html.DisplayNameFor(model=> model.FromCostcode)
                            </div>
                            <div class="dd-met">
                                @Model.FromCostcode
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ToCostcode" class="control-label"></label>
                            <select asp-for="ToCostcode" class="form-control chosen-select" data-placeholder=" Please select..." asp-items="ViewBag.CostCodeList" required>
                                <option selected></option>
                            </select>
                            <span asp-validation-for="ToCostcode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="TransferDate" class="control-label"></label>
                            <input id="transferDate" class="form-control datepicker" placeholder="@localizer["dd-MM-yyyy"]" value="@Model.TransferDate?.ToString("dd/MMM/yyyy")" required />
                            <span asp-validation-for="TransferDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnConfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>