@model TCMPLApp.WebApp.Models.TimesheetProjectIndexViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<div style="display:none">    
    <input id="Yymm" readonly type="hidden" asp-for="Yymm" />
    <input id="Costcode" readonly type="hidden" value="@ViewBag.Costcode" />
    <input id="Empno" readonly type="hidden" value="@ViewBag.Empno" />
</div>

<div class="modal-header">
    <h5 class="modal-title">@localizer["Timesheet project breakup of "] @ViewBag.Empno @localizer[" for costcode "] @ViewBag.Costcode</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
</div>
<div class="modal-body">
    <div class="card">
        <div class="card-header">
            <h5>@localizer["Timesheet project breakup of "] @ViewBag.Empno @localizer[" for costcode "] @ViewBag.Costcode</h5>
        </div>
        <div class="card-block">
            <div class="table-responsive p-r-10">
                <div class="text-right">
                    <div style="float:left" class="p-l-10">
                        <label class="control-label f-w-700">Actual working hours: </label> <span class="text-dark-green f-w-700">@ViewBag.WrkHours</span>
                    </div>
                    @* <a style="float:right" class="btn btn-outline-success btn-sm border border-white mx-2 ml-auto"
                       id="xlsFilledPartialStatus"
                       href="#"
                       data-jqueryselector="binarydownload"
                       data-url="@(Url.Action("TimesheetDepartmentDownload", "TSStatus", new { Area = "Timesheet" }))"
                       data-id="@Model.FilterDataModel.Yyyymm@Html.Raw("!-!")@ViewBag.Costcode@Html.Raw("!-!Filled!-!")">
                        <i class="fas fa-file-excel green-color"></i>&nbsp;Export
                    </a>    *@
                    @* <a style="float:right" class="btn btn-outline-primary btn-sm border border-white mx-2 ml-auto"
                       href="#"
                       data-jqueryselector="binarydownload"
                       data-url="@(Url.Action("DownloadTimesheetReport", "Reports", new { Area = "Timesheet",
                                                                                          empno = @ViewBag.Empno,
                                                                                          yymm = @ViewBag.Yyyymm }))"                       
                       title="Employee report">
                        <i class="fas fa-download green-color"></i>&nbsp;@localizer["Download timesheet"]
                    </a>    *@   
                    <a style="float:right" class="btn btn-outline-primary btn-sm border border-white mx-2 ml-auto" 
                         id="lemp2011Report"  href="#"
                         data-inprogress="0"
                         data-jqueryselector="generateReportPartial"
                         data-url="@Url.Action("DownloadTimesheetReport", "Reports", new {Area = "Timesheet",
                                                                                          empno = @ViewBag.Empno,
                                                                                          yymm = @ViewBag.Yyyymm })"
                         data-loading-text='<span class="spinner-border spinner-border-sm" role="status"></span>Waiting...'
                         data-text="Download timesheet"
                         title="Employee report">
                        <i class="fas fa-download green-color"></i>&nbsp;@localizer["Download timesheet"]
                    </a>
                </div>
                <div class="m-3"></div>
                <div class="input-group pt-1 pl-1 pr-1 ">
                    <input type="text" class="form-control form-control-sm border" id="TimesheetEmployeeProjectSearch" name="GenericSearch"
                           onkeypress="genericSearchKeypress('TimesheetEmployeeProjectSearch')" placeholder="Search...">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-info" type="button" id="buttonTimesheetEmployeeProjectSearch" onclick="genericSearchOnClick('TimesheetEmployeeProjectSearch')">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="m-2"></div>
                <table id="tbTimesheetEmployeeProjectGrid" class="table table-striped table-bordered table-responsive-lg">
                    <thead class="bg-info text-white">
                        <tr>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Projno)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Name)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.Hours)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.OtHours)</th>
                            <th class="text-center">@Html.DisplayNameFor(model => model.TotHours)</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
</div>
<div id="results" style="display:none">@TempData["Message"]</div>

