@model TCMPLApp.WebApp.Models.JobEditViewModel
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer


@Html.AntiForgeryToken()


<form asp-controller="JOB"
      asp-action="Edit"
      data-ajax="true"
      data-ajax-method="post"
      data-ajax-update=""
      data-ajax-begin="onBegin(null)"
      data-ajax-complete="onComplete(null)"
      data-ajax-success="onSuccess(null); location.reload();"
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    @Html.HiddenFor(m => m.Projno)

    <div class="modal-header">
        <h5 class="modal-title">@ViewBag.Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
        <div class="card">
            <div class="card-header">
                <h5>@ViewBag.Title</h5>
            </div>
            <div class="card-block">                
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <label asp-for="Tcmno" class="control-label"></label>
                                <input asp-for="Tcmno" class="form-control" maxlength="6" required />
                                <span asp-validation-for="Tcmno" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" id="btnconfirm"
                data-loading-text='<span class="spinner-border spinner-border-sm" role=""></span>@localizer["Waiting..."]'
                data-text="@localizer["Confirm"]">
            @localizer["Confirm"]
        </button>
        <button class="btn btn-secondary" type="button" data-dismiss="modal">@localizer["Cancel"]</button>
    </div>
</form>


