@model TCMPLApp.WebApp.Models.JobErpPhasesFileDetailViewModel

@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<form asp-controller="JOB"
      asp-action="JobErpPhasesFileDetail"
      asp-area="JOB"
      data-id="@Model.JobNo"
      id="formJobErpPhasesFileDetail"
      data-projno="@@Model.JobNo"
      data-ajax="true"
      data-ajax-update="#modal-content"
      data-ajax-complete="onComplete(null);"
      data-ajax-success=""
      data-ajax-failure="onError"
      accept-charset="UTF-8">

    @Html.HiddenFor(m => m.JobNo)
    <div class="modal-header">
        <h5 class="modal-title">Job ERP phase file upload</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>

    <div class="modal-body ">
        <div class="card">
            <div class="card-header">
                <h5>@localizer["Job ERP phase file upload"] - @Model.JobNo</h5>
            </div>
            <div class="card-block">
                <div class="row p-1"></div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" id="btnJobErpPhasesXLTemplate" title="Excel Download" class=" btn btn-sm btn-success mx-2">
                                        <i class="far fa-file-excel "></i> Download template
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div id="iddropzone2" class="dropzone dropzone-design mb-10">
                            <div class="dz-details">
                                <div class="dz-filename"><span data-dz-name></span></div>
                                <div class="dz-size" data-dz-size></div>
                                <img data-dz-thumbnail />
                                <div class="dz-error-message"><span data-dz-errormessage></span></div>
                            </div>
                            <div class="dz-default dz-message" data=""><span>Drop excel file here to import</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button class="btn btn-primary" type="button" id="btnSaveJobErpPhasesUpdateXL"
                data-loading-text='<span class="spinner-border spinner-border-sm" role="diagram"></span>@localizer["Waiting..."]'
                data-text="@localizer[""]">
            @localizer["Upload file"]
        </button>
    </div>
</form>

