@model TCMPLApp.WebApp.Areas.RapReporting.RapViewModel;
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@{
    UserIdentity currentUserIdentity = CurrentUserIdentity;
    const string actionName = "GeneralProjectIndex";
    const string controllerName = "Reports";
}

@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Project reports";
}

@section BreadCrumbs
    {
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="RapReporting">Rap Reporting</a></li>
        <li class="breadcrumb-item "><a asp-action="GeneralIndex" asp-controller="Reports" asp-area="RapReporting">General Reports</a></li>
        <li class="breadcrumb-item active" aria-current="page">Project reports</li>
    </ol>
}

    @section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

    <input id="Yyyy" readonly type="hidden" asp-for="@Model.FilterDataModel.Yyyy" />
    <input id="YearMode" readonly type="hidden" asp-for="@Model.FilterDataModel.YearMode" />
    <input id="Yyyymm" readonly type="hidden" asp-for="@Model.FilterDataModel.Yyyymm" />
    <input id="CostCode" readonly type="hidden" asp-for="@Model.FilterDataModel.CostCode" />
    <input id="Projno" readonly type="hidden" asp-for="@Model.FilterDataModel.Projno" />

    <div class="card-toolbar p-l-15">
        <div role="toolbar">
            <button id="filterGet" type="button" class="btn btn-secondary btn-sm border-white"
                data-jqueryselector="openmodal"
                data-modalcontainer="modalcontainer"
                data-modalpopupwidth="rightw35"
                data-url='@Url.Action("FilterGet", "Home", new { Area = "RapReporting" })'
                data-actionName="GeneralProjectIndex"
                data-controllerName="Reports"
                data-modaltitle="Filter"
                data-modalheader="Filter">
                <i class="fas fa-filter"></i>&nbsp;Filter ::

                @if (!string.IsNullOrEmpty(Model.FilterDataModel.Yyyy))
            {
                @Html.Raw(localizer["Year : "] + Model.FilterDataModel.Yyyy)
                ;
            }
            @if (!string.IsNullOrEmpty(Model.FilterDataModel.YearMode))
            {
                @Html.Raw(localizer[", Year mode : "] + (Model.FilterDataModel.YearMode == "A" ? "April - March" : "January - December"))
                ;
            }
            @if (!string.IsNullOrEmpty(Model.FilterDataModel.Yyyymm))
            {
                @Html.Raw(localizer[", Year month : "] + (Model.FilterDataModel.Yyyymm.Substring(4, 2) == "01" ? "Jan " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "02" ? "Feb " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "03" ? "Mar " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "04" ? "Apr " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "05" ? "May " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "06" ? "Jun " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "07" ? "Jul " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "08" ? "Aug " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "09" ? "Sep " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "10" ? "Oct " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : Model.FilterDataModel.Yyyymm.Substring(4, 2) == "11" ? "Nov " + Model.FilterDataModel.Yyyymm.Substring(0, 4)
            : "Dec " + Model.FilterDataModel.Yyyymm.Substring(0, 4)))
                ;
            }
            @if (!string.IsNullOrEmpty(Model.FilterDataModel.Projno))
            {
                @Html.Raw(localizer[", Project : "] + Model.FilterDataModel.Projno)
                ;
            }
        </button>
        <div class="d-flex justify-content-end p-r-2 m-b-10 m-r-20 divSitemap">
            <a class="btn btn-secondary btn-sm border-white"
               data-jqueryselector="openmodal"
               data-modalcontainer="modalcontainer"
               data-modalpopupwidth="rightw35"
               data-url='@Url.Action("ShowSitemap", "Home", new { Area = "RapReporting" })'
               data-modaltitle="Sitemap"
               data-modalheader="Sitemap"
               title="Sitemap">
                <i class="fas fa-sitemap"></i>
            </a>
        </div>
    </div>
</div>
<div class="m-2"></div>
@if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsProjectManager) ||
     CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionRAPReports))
{
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title"><b>Project reports</b></h5>
            </div>
            <div class="card-block">                
                <div class="card-pill">
                    <ul class="nav nav-tabs" id="nav-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="tabs-beforepost-tab" data-toggle="pill" href="#tabs-beforepost" role="tab"
                        aria-controls="tabs-beforepost" aria-selected="true">Before posting</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="tabs-after-tabpost" data-toggle="pill" href="#tabs-afterpost" role="tab"
                        aria-controls="tabs-afterpost">After posting</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="tab-tabContent">
                        <div class="tab-pane fade show active" id="tabs-beforepost" role="tabpanel" aria-labelledby="tabs-beforepost-tab">
                            <div id="pw-beforepost">
                                <div class="row">
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header header-flex">
                                                <h5>Projectwise Manhours Report</h5>
                                                @if (ViewBag.statusProjectMhrsReport == "Processing...")
                                                {
                                                    <span class="text-blue f-14 f-w-700">Processing... </span>
                                                }
                                                else if (ViewBag.statusProjectMhrsReport == "Download")
                                                {
                                                    <span class="text-blue f-14 f-w-700">Download</span>
                                                }
                                                else
                                                {
                                                    <span class="text-blue f-14 f-w-700">Process</span>
                                                }
                                            </div>
                                            <div class="card-block card-tile">
                                                @if (ViewBag.statusProjectMhrsReport == "Processing...")
                                                {
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lProjectMhrsReport_Text" class="mb-2 f-w-300">
                                                                Projectwise Manhours Report
                                                            </h7>
                                                            <div class="text-center">
                                                                <div id="lProjectMhrsReport_Loader" class="spinner-border text-info text-center hidden "
                                                            style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lProjectMhrsReport_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <a id="lProjectMhrsReport" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@if(ViewBag.statusProjectMhrsReport == "Download") {
                                                                @Url.Action("ProjectManhours", "Reports", new {Area = "RapReporting",
                                                                                                                yyyymm = @Model.FilterDataModel.Yyyymm,
                                                                                                                projno = @Model.FilterDataModel.Projno})
                                                            }
                                                            else {
																@Url.Action("ProjectManhoursGenerateData", "Reports", new {Area ="RapReporting",
                                                                                                                yymm = @Model.FilterDataModel.Yyyymm,
                                                                                                                projno = @Model.FilterDataModel.Projno})
                                                            }
                                                            ">
                                                        <div class="row align-items-center justify-content-center stretched-link">
                                                            <div class="col">
                                                                <h7 id="lProjectMhrsReport_Text" class="mb-2 f-w-300">
                                                                    Projectwise Manhours Report
                                                                </h7>
                                                                <div class="text-center">
                                                                    <div id="lProjectMhrsReport_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                        <span class="sr-only">Loading...</span>
                                                                    </div>
                                                                </div>
                                                                &#160;
                                                            </div>
                                                            <div id="lProjectMhrsReport_Icon" class="col-auto">
                                                                <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                        @*<div class="card card-tpl">
                                <div class="card-header">
                                <h5>Projectwise Manhours Report</h5>
                                </div>
                                <div class="card-block card-tile">
                                <a id="lprojmanhrs" href="#"
                                data-inprogress="0"
                                data-jqueryselector="generatereport"
                                data-url="@Url.Action("ProjectManhours", "Reports", new {Area ="RapReporting",
                                yyyymm = @Model.FilterDataModel.Yyyymm,
                                projno = @Model.FilterDataModel.Projno})">
                                <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                <h7 id="lprojmanhrs_Text" class="mb-2 f-w-300">Analysis of Project.Advance reporting for project.</h7>
                                <div class="text-center">
                                <div id="lprojmanhrs_Loader" class="spinner-border text-info text-center hidden "
                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                <span class="sr-only">Loading...</span>
                                </div>
                                </div>
                                &#160;
                                </div>
                                <div id="lprojmanhrs_Icon" class="col-auto">
                                <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                </div>
                                </div>
                                </a>
                                </div>
                                </div>*@
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Monthly Jobwise Manhours</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojyyprjcc" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("BeforePostProj_YY_PRJ_CC", "Reports", new {Area ="RapReporting",
                                                                                                                        projno = @Model.FilterDataModel.Projno,
                                                                                                                        yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojyyprjcc_Text" class="mb-2 f-w-300">Gradewise hours for based on project.</h7>
                                                            <div class="text-center">
                                                                <div id="lprojyyprjcc_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojyyprjcc_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-md-4 col-xl-4">
                            <div class="card card-tpl">
                            <div class="card-header">
                            <h5>Monthly Jobwise Activitywise Manhours</h5>
                            </div>
                            <div class="card-block card-tile">
                            <a id="lprojyyprjccact" href="#"
                            data-inprogress="0"
                            data-jqueryselector="generatereport"
                            data-url="@Url.Action("BeforePostProj_YY_PRJ_CC_ACT", "Reports", new {Area ="RapReporting",
                            projno = @Model.FilterDataModel.Projno,
                            yymm = @Model.FilterDataModel.Yyyymm})">
                            <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                            <h7 id="lprojyyprjccact_Text" class="mb-2 f-w-300">Monthly Jobwise Activitywise Manhours</h7>
                            <div class="text-center">
                            <div id="lprojyyprjccact_Loader" class="spinner-border text-info text-center hidden "
                            style="width: 2.5rem; height: 2.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            </div>
                            &#160;
                            </div>
                            <div id="lprojyyprjccact_Icon" class="col-auto">
                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                            </div>
                            </div>
                            </a>
                            </div>
                            </div>
                            </div>
                            <div class="col-md-4 col-xl-4">
                            <div class="card card-tpl">
                            <div class="card-header">
                            <h5>Monthly Jobwise Employeewise Manhours</h5>
                            </div>
                            <div class="card-block card-tile">
                            <a id="lprojyyprjccemp" href="#"
                            data-inprogress="0"
                            data-jqueryselector="generatereport"
                            data-url="@Url.Action("BeforePostProj_YY_PRJ_CC_EMP", "Reports", new {Area ="RapReporting",
                            projno = @Model.FilterDataModel.Projno,
                            yymm = @Model.FilterDataModel.Yyyymm})">
                            <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                            <h7 id="lprojyyprjccemp_Text" class="mb-2 f-w-300">Monthly Jobwise Employeewise Manhours</h7>
                            <div class="text-center">
                            <div id="lprojyyprjccemp_Loader" class="spinner-border text-info text-center hidden "
                            style="width: 2.5rem; height: 2.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            </div>
                            &#160;
                            </div>
                            <div id="lprojyyprjccemp_Icon" class="col-auto">
                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                            </div>
                            </div>
                            </a>
                            </div>
                            </div>
                            </div>*@

                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tabs-afterpost" role="tabpanel" aria-labelledby="tabs-afterpost-tab">
                            <div id="pw-afterpost">
                                <div class="row">
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Gradewise Manhours</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojgrade" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("Proj_Grade", "Reports", new {Area ="RapReporting",
                                                                                                        projno = @Model.FilterDataModel.Projno,
                                                                                                        yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojgrade_Text" class="mb-2 f-w-300">Gradewise hours based on project for current year only.</h7>
                                                            <div class="text-center">
                                                                <div id="lprojgrade_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojgrade_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-md-4 col-xl-4">
                            <div class="card card-tpl">
                            <div class="card-header">
                            <h5>Budget Booked from 2011</h5>
                            </div>
                            <div class="card-block card-tile">
                            <a id="lprjaccactbudg" href="#"
                            data-inprogress="0"
                            data-jqueryselector="generatereport"
                            data-url="@Url.Action("PRJ_ACC_ACT_BUDG", "Reports", new {Area ="RapReporting",
                            projno = @Model.FilterDataModel.Projno})">
                            <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                            <h7 id="lprjaccactbudg_Text" class="mb-2 f-w-300">Project Costcode Budget Booked from 2011 onwards</h7>
                            <div class="text-center">
                            <div id="lprjaccactbudg_Loader" class="spinner-border text-info text-center hidden "
                            style="width: 2.5rem; height: 2.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            </div>
                            &#160;
                            </div>
                            <div id="lprjaccactbudg_Icon" class="col-auto">
                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                            </div>
                            </div>
                            </a>
                            </div>
                            </div>
                            </div>*@
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Work Position Wise</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lworkposcombine" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("WorkPosition_Combine", "Reports", new {Area ="RapReporting",
                                                                                                                    projno = @Model.FilterDataModel.Projno,
                                                                                                                    yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lworkposcombine_Text" class="mb-2 f-w-300">Work Position Wise from 2011 onward</h7>
                                                            <div class="text-center">
                                                                <div id="lworkposcombine_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lworkposcombine_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Project Costcode Budget Booked</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojccactbudg" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("PRJ_CC_ACT_BUDG", "Reports", new {Area ="RapReporting",
                                                                                                            projno = @Model.FilterDataModel.Projno})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojccactbudg_Text" class="mb-2 f-w-300">
                                                                Costcodewise Manhours Budget /Booked /Balance for a project
                                                            </h7>
                                                            <div class="text-center">
                                                                <div id="lprojccactbudg_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojccactbudg_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Hours Costcode & Activity Wise</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojplanrep1" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("Proj_PlanRep1", "Reports", new {Area ="RapReporting",
                                                                                                            projno = @Model.FilterDataModel.Projno,
                                                                                                            yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojplanrep1_Text" class="mb-2 f-w-300">Hours Costcode & Activity Wise</h7>
                                                            <div class="text-center">
                                                                <div id="lprojplanrep1_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojplanrep1_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Projectwise Costcode Activity Hours</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojplanrep2" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("Proj_PlanRep2", "Reports", new {Area ="RapReporting",
                                                                                                            projno = @Model.FilterDataModel.Projno,
                                                                                                            yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojplanrep2_Text" class="mb-2 f-w-300">Projectwise Costcode Activity wise hours for the various Period</h7>
                                                            <div class="text-center">
                                                                <div id="lprojplanrep2_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojplanrep2_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    @* <div class="col-md-4 col-xl-4">
                            <div class="card card-tpl">
                            <div class="card-header">
                            <h5>Project Costcode Wise Manhours</h5>
                            </div>
                            <div class="card-block card-tile">
                            <a id="lprojcostcombine" href="#"
                            data-inprogress="0"
                            data-jqueryselector="generatereport"
                            data-url="@Url.Action("ProjCost_combine", "Reports", new {Area ="RapReporting",
                            projno = @Model.FilterDataModel.Projno})">
                            <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                            <h7 id="lprojcostcombine_Text" class="mb-2 f-w-300">Project Costcode Wise Manhours from begining of project</h7>
                            <div class="text-center">
                            <div id="lprojcostcombine_Loader" class="spinner-border text-info text-center hidden "
                            style="width: 2.5rem; height: 2.5rem;" role="status">
                            <span class="sr-only">Loading...</span>
                            </div>
                            </div>
                            &#160;
                            </div>
                            <div id="lprojcostcombine_Icon" class="col-auto">
                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                            </div>
                            </div>
                            </a>
                            </div>
                            </div>
                            </div>*@
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Project Costcode Wise Manhours Including OT Breakup</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojcostotcombine" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("ProjCostOT_combine", "Reports", new {Area ="RapReporting",
                                                                                                                projno = @Model.FilterDataModel.Projno})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojcostotcombine_Text" class="mb-2 f-w-300">Project Costcode Wise Manhours Including OT Breakup</h7>
                                                            <div class="text-center">
                                                                <div id="lprojcostotcombine_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojcostotcombine_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>Employee Manhours OT Breakup</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojhrsotbreak" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("Projhrs_OtBreak", "Reports", new {Area ="RapReporting",
                                                                                                            projno = @Model.FilterDataModel.Projno,
                                                                                                            yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojhrsotbreak_Text" class="mb-2 f-w-300">Project Costcode Employee Manhours with Overtime Breakup</h7>
                                                            <div class="text-center">
                                                                <div id="lprojhrsotbreak_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojhrsotbreak_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xl-4">
                                        <div class="card card-tpl">
                                            <div class="card-header">
                                                <h5>CrossTab OT Breakup</h5>
                                            </div>
                                            <div class="card-block card-tile">
                                                <a id="lprojhrsotcrosstab" href="#"
                                            data-inprogress="0"
                                            data-jqueryselector="generatereport"
                                            data-url="@Url.Action("Projhrs_OtCrossTab", "Reports", new {Area ="RapReporting",
                                                                                                                projno = @Model.FilterDataModel.Projno,
                                                                                                                yymm = @Model.FilterDataModel.Yyyymm})">
                                                    <div class="row align-items-center justify-content-center stretched-link">
                                                        <div class="col">
                                                            <h7 id="lprojhrsotcrosstab_Text" class="mb-2 f-w-300">Project Costcode Hours with Overtime Breakup. A Cross Tab Report</h7>
                                                            <div class="text-center">
                                                                <div id="lprojhrsotcrosstab_Loader" class="spinner-border text-info text-center hidden "
                                                                style="width: 2.5rem; height: 2.5rem;" role="status">
                                                                    <span class="sr-only">Loading...</span>
                                                                </div>
                                                            </div>
                                                            &#160;
                                                        </div>
                                                        <div id="lprojhrsotcrosstab_Icon" class="col-auto">
                                                            <i class="fas fa-cogs f-20 text-white theme-capri"></i>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
}
@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/site-rap.js" asp-append-version="true"></script>
    <script>

        $(document).ready(function() {
            if ($('#Yyyy').val() == null || $('#Yyyy').val() == '' ||
                $('#YearMode').val() == null || $('#YearMode').val() == '' ||
                $('#Yyyymm').val() == null || $('#Yyyymm').val() == '' ||
                $('#Projno').val() == null || $('#Projno').val() == '') {
                $("#filterGet").click();
            }
        });

        function localScript() {
            initSelect2();

            var yearMonthListUrl = "@Url.Action("GetYearMonthList", "Home", new {Area = "RapReporting"})";
            callRapReportingFilterListeners(yearMonthListUrl);

            var cancelButtonRedirectUrl = "@Url.Action("RedirectPage", "Home", new {Area = "RapReporting",
        actionName = @actionName,
            controllerName = @controllerName})";
            callCancelButtonListeners(cancelButtonRedirectUrl);
        }

    </script>
}
