@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@{
    UserIdentity currentUserIdentity = CurrentUserIdentity;
}

@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "Reports";
}

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="RapReporting">Rap Reporting</a></li>
        <li class="breadcrumb-item active" aria-current="page">Reports</li>
    </ol>
}

@section Styles {
<link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
@*<style>
    #tbGrid.table td, #tbGrid.table th {
        padding: 0.2rem !important;
    }
</style>*@
}

<div class="col-sm-12">
    <div class="row">
        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsCostCode) ||
            CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsProjectManager) ||
            CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsProco) ||
            CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsAFC) ||
            CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsHR) ||
            CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsMasters))
        {       
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>General reports</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("GeneralIndex", "Reports", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h3 class="mb-2 f-w-300"> </h3>
                                </div>
                                <div class="col-auto">                                
                                    <i class="fas fa-chart-pie f-20 text-white theme-brown"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsCostCode) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsProjectManager) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsProco) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsEnggMngr) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsNonEnggMngr) ||
             CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.RapReporting.RapReportingHelper.ActionReportsAFC))
        {
            <div class="col-md-4 col-xl-3">
                <div class="card card-tpl">
                    <div class="card-header">
                        <h5>Analytical reports</h5>
                    </div>
                    <div class="card-block card-tile">
                        <a href="@Url.Action("AnalyticalIndex", "Reports", new { Area = "RapReporting" })">
                            <div class="row align-items-center justify-content-center stretched-link">
                                <div class="col">
                                    <h7 class="mb-2 f-w-300"> </h7>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-chart-bar f-20 text-white theme-teal"></i>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>Management reports</h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("ManagementIndex", "Reports", new { Area = "RapReporting" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-landmark f-20 text-white theme-dark-orange"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
      
       
    </div>
</div>

