@model TCMPLApp.WebApp.Models.EmployeePolicyViewModel
@{

    ViewData["Title"] = "Smart Working Policy";

    Html.AntiForgeryToken();

}

<div class="col-lg-8 mx-lg-auto">
    <div class="card bg-light mb-3 shadow-3">
        <div class="card-header app-h4 app-card-header">
            TCMPL Policy on Smart Working
        </div>
        <div class="card-body">
            <div class="mb-3">
                <a class="btn btn-outline-primary btn-sm border-white" href="~/asset/SmartWorkingPolicyTCMPL.pdf" target="_blank"  ><i class="fa fa-glasses" aria-hidden="true"></i>&nbsp;View Smart Work Policy</a>
                
            </div>
            <div class="swp container-fluid border border-info rounded overflow-auto bg-white mb-3">

                <div class="WordSection1">
                    <h4><a name="_Toc69299470"></a><a name="_Toc66865805"></a>1.&nbsp;&nbsp;&nbsp; PREAMBLE</h4>
                    <p>Maire Tecnimont Group (&ldquo;<strong>the Group</strong>&rdquo;), to which the Company belongs, is continuing to introduce initiatives that aim at promoting a better balance between the employees&rsquo; lifetime management and the Company needs. The &ldquo;BE ADAPTIVE! Program&rdquo; is introducing a new vision of the role of the employee, addressing more autonomy based on a greater empowerment on the results and on the objectives to be achieved. Through a new organization of the work activity, based on the trust between employee and Manager, the Group aims at promoting a meaningful process of reviewing of the work procedure and of the management culture.</p>
                    <h4><a name="_Toc69299471"></a><a name="_Toc66865806"></a>2.&nbsp;&nbsp;&nbsp; OBJECTIVE</h4>
                    <p>Tecnimont Pvt. Ltd. (Company) is introducing Smart Work Policy on the lines of the one applied in the Maire Tecnimont Group and especially in our parent Company Tecnimont S.p.A. This will allow greater flexibility to employees, by cutting down commuting time thereby enhancing the Work-Life balance. The main goal of this program is to spread a new working philosophy based on people autonomy and flexibility in choosing working spaces, working hours and IT tools to reach a greater accountability on the results.</p>
                    <h4><a name="_Toc69299472"></a><a name="_Toc66865807"></a>3.&nbsp;&nbsp;&nbsp; SCOPE&nbsp;</h4>
                    <p>The Company is implementing a Smart Work Policy to allow eligible employees to work from a remote location approved by the Company, subject to certain conditions.</p>
                    <p>Acceptance of this Smart Work Policy does not alter employees&rsquo; duties, obligations, responsibilities and/or conditions of employment with the Company unless specifically agreed upon in writing. This Smart Work Policy is available only to those deemed eligible at the Company&rsquo;s sole discretion. The Company may end the Smart work assignment at any time with or without cause and use of the Smart Work Policy working remotely is subject to the conditions contained in this Policy.<strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299473"></a><a name="_Toc66865808"></a>4.&nbsp;&nbsp;&nbsp; EXISTING POLICY &amp; RULES</h4>
                    <p>The Company&rsquo;s existing rules and policies shall apply while an employee is working smartly. These rules and policies include, but are not limited to: Code of Ethics, employee leave policy, policies regarding attendance, confidentiality, data protection, health and safety policy and policy prohibiting harassment, social media usage, electronic device usage etc.</p>
                    <h4><a name="_Toc66865809"></a>5.&nbsp;&nbsp;&nbsp; <a name="_Toc69299474"></a>SMART WORK</h4>
                    <p>Smart Working is the practice initiated by the Company to allow its employees to work from their home or from some other place which is not a usual place of business of the Company. Smart Work&nbsp;shall not be allowed in public places for obvious confidentiality reasons, excluding the ones expressly approved by the Company.</p>
                    <h4><a name="_Toc69299475"></a><a name="_Toc66865810"></a>6.&nbsp;&nbsp;&nbsp; ELIGIBILITY</h4>
                    <p>All employees in workforce whether permanent, contracted, fixed term employment contract or with part-time contract, performing tasks compatible with Smart Work, are eligible for Smart Work and covered under Policy.</p>
                    <ul>
                        <li>The employees who do not meet certain subjective requirements assessed bythe Company without exception, may be excluded.</li>
                        <li>If the objective conditions of certain tasks become incompatible, the Company&nbsp; &nbsp; &nbsp;will inform employees.</li>
                        <li>If the Company demands the constant presence of the employee in the office, it can be reason of exclusion or suspension of the Smart Working program.</li>
                    </ul>
                    <p>If any training programme or course is identified by the Company as mandatory to become a Smart Worker, its lack of completion will result in the immediate termination of the Smart Working arrangement.</p>
                    <p>Employees who wish to opt for smart work should first contact and notify their respective team leaders, and seek necessary clearances in view of ongoing projects, feasibility of smart work arrangements at personal workspace, completion of necessary IT trainings, and the schedule for commencing smart work arrangement. This will ensure smooth transition for the employee to smart workspace and minimal disruption to the team&rsquo;s normal functioning.</p>
                    <h4><a name="_Toc69299476"></a><a name="_Toc66865811"></a>7.&nbsp;&nbsp;&nbsp; MANDATORY TRAINING PROGRAMME FOR SMART WORKING.&nbsp;</h4>
                    <p>To join the Smart Work program, employees must complete the training path related to the Cyber Security composed by:</p>
                    <ul>
                        <li>Authentication (Logging-in)</li>
                        <li>Data protection</li>
                        <li>Email Security</li>
                        <li>Insider Threat</li>
                        <li>Mobile</li>
                        <li>Personal Information</li>
                        <li>Safe web citizen</li>
                        <li>Security Essentials</li>
                        <li>Travel Security.</li>
                    </ul>
                    <p>In addition to this the employees will have to complete the IT e-learning path composed by 4 (four) training modules:</p>
                    <ul>
                        <li>SharePoint 2016</li>
                        <li>OneDrive 365</li>
                        <li>Teams</li>
                    </ul>
                    <p>After joining the Smart Work program, the employees need to ensure their attendance to the relevant webinars organized by the Company which will be intimated to the employees from time to time</p>
                    <h4><a name="_Toc69299477"></a><a name="_Toc66865812"></a>8.&nbsp;&nbsp;&nbsp; DESIGNATED WORKSPACE:</h4>
                    <p>It is responsibility of the employee to designate a smart workspace, which should typically be a space in the employee&rsquo;s home (personal office, spare bedroom, etc.) or a place (other than public place) which is not a usual place of business of the Company. It must comply with the HSE Guidelines for Smart Working of the Maire Tecnimont Group available in the MET portal.</p>
                    <p>The designated smart workspace shall be suitable for data protection, security as well as safety &amp; health at work.</p>
                    <p>The employee must be working smartly at designated workplace to enable the concerned employee to return to the assigned place of work (Office HO / Site) within three (3) hours&rsquo; time.</p>
                    <p>The employees working from a designated workspace may, from time to time, be required to come to their usual workplace i.e. Corporate Office or Project Site Office as required by the needs of the business. As a minimum, employees shall work from the Company&rsquo;s office / usual place of business at least one (1) day per week.</p>
                    <p>The employees will continue to adhere and follow the laws / policies applicable to their respective reporting office of the Company, even if a particular employee&rsquo;s designated smart workspace is located outside of the municipal / city limits of his/her reporting office.</p>
                    <h4><a name="_Toc69299478"></a><a name="_Toc66865813"></a>9.&nbsp;&nbsp;&nbsp; TRUST</h4>
                    <p>This policy is based on the mutual trust between the employee and the Company. Every employee of the Company is expected to perform his work-related activities responsibly and judiciously from the identified/designated smart workspace instead of being physically present in office. The Company trusts that the IT tools provided to the employee for carrying out the Smart Working will be utilized only to perform job functions and not for any personal usage.<strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299479"></a><a name="_Toc66865814"></a>10.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; REMOTE MEETINGS</h4>
                    <p>Employees working from a designated workspace shall be expected to attend all essential meetings via Teams or video conference or by phone.</p>
                    <h4><a name="_Toc69299480"></a><a name="_Toc66865815"></a>11.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SMART WORK PROGRAMME INITIATION</h4>
                    <ol start="1" type="I" style="text-align: center; ">
                        <li style="text-align: left;"><strong>Enrolment for Smart Work Programme</strong>: Employees need to enrol for the Smart Work program by giving their acceptance on the Smart Work Policy document available in the Self-Service portal. The process flow for the enrolment is as follows:</li>
                    </ol>
                    <div class="mb-2">
                        <table class="m-auto" style="width: 613px; border:1px solid black" width="631">
                            <tbody>
                                <tr>
                                    <td style="width: 118px;">
                                        <p>EMPLOYEES TO READ THE POLICY AND COMPLETE THE MANDATORY ONLINE TRAININGS</p>
                                    </td>
                                    <td style="width: 21px;">
                                        <h1><strong>&rarr;</strong></h1>
                                    </td>
                                    <td style="width: 118px;">
                                        <p>IT ELIGIBILITY CHECK TO BE COMPLETED BY EMPLOYEES</p>
                                    </td>
                                    <td style="width: 23px;">
                                        <h1><strong>&rarr;</strong></h1>
                                    </td>
                                    <td style="width: 117px;">
                                        <p>EMPLOYEES TO ACCEPT THE POLICY BY CLICKING &ldquo;YES&rdquo; AND SUBMIT FOR HOD APPROVAL</p>
                                    </td>
                                    <td style="width: 25px;">
                                        <h1><strong>&rarr;</strong></h1>
                                    </td>
                                    <td style="width: 145px;">
                                        <p>HOD TO APPROVE THE ENROLMENT OF THE EMPLOYEE IN SMART WORK PROGRAM</p>
                                    </td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                    <ol start="2" type="I" style="text-align: center; ">
                        <li style="text-align: left;"><strong>Proceeding on Smart Work:</strong> Only after successful enrolment of SWP, an employee can start Smart &ldquo;Smart Working&rdquo; days will be agreed between the official responsible for the performance / output of an employee (hereinafter referred to as &ldquo;Responsible&rdquo;) that co-ordinates the activities of the employee on a weekly / fortnightly basis</li>
                    </ol>
                    <div class="m-2">
                        <table class="m-auto" style="width: 406px; height: 136px;" width="477">
                            <tbody>
                                <tr style="height: 136px;">
                                    <td style="width: 109px; height: 136px;">
                                        <p>EMPLOYEES TO APPLY FOR SMARTWORK ON A WEEKLY / FORNIGHTLY BASIS</p>
                                    </td>
                                    <td style="width: 21px; height: 136px;">
                                        <h1><strong>&rarr;</strong></h1>
                                    </td>
                                    <td style="width: 108px; height: 136px;">
                                        <p>RESPONSIBLE OR IMMEDIATE SUPERVISOR TO VALIDATE THE SMARTWORK</p>
                                    </td>
                                    <td style="width: 22px; height: 136px;">
                                        <h1><strong>&rarr;</strong></h1>
                                    </td>
                                    <td style="width: 112px; height: 136px;">
                                        <p>HOD TO APPROVE THE SMARTWORK</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul>
                        <li>The employee must be present in the office at least one working day per week (for at least 8 hours), not considering justified absences (e.g. holidays or, where applicable, business trip)</li>
                        <li>The Responsible could ask the employee to be present in the office in case of technical impossibility to work smartly and/or for specific business needs.</li>
                        <li>Responsible and employee must identify together specific and measurable programs to allow the performance monitoring during the Smart Working activities.</li>
                    </ul>
                    <h4><a name="_Toc69299481"></a><a name="_Toc66865816"></a>12.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DESIGNATED WORK TIME</h4>
                    <p>Employees must follow their regular assigned work schedule, unless otherwise discussed with and approved by the employee&rsquo;s manager. All arrangements for childcare, elder care, repair persons, etc. must be arranged by an employee so as not to interfere with his/her regular work schedule.</p>
                    <p>Smart working hours will be as per the 1st shift (6 am to 2.30 pm), General shift (8.30 am to 5 pm) and 2nd shift (2.30 pm to 11 pm) as maybe scheduled for an employee.</p>
                    <p>The working hours are equal to 40 weekly conventional hours, theoretical working hours for a single working day are 8 hours from Monday to Friday.</p>
                    <p>Responsible and employees must agree on the individual daily working hours (even discontinuous). During the work activities, the employee must be available and contactable through the Company IT tools.</p>
                    <p>In case Company phones are not provided, such employees shall provide their personal phone numbers, to be contacted and called for official purposes. Such personal phones will be loaded with Company software for 2-factor authentication.</p>
                    <h4><a name="_Toc69299482"></a><a name="_Toc66865817"></a>13.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EMPLOYEE&rsquo;S LEAVE / ABSENCE</h4>
                    <p>If an employee is unable to work at any time when working smartly due to sickness, injury or otherwise, the employee must comply with the Company&rsquo;s employee leave policy and reporting procedure. The employee is required to keep their Responsible informed of the likely date of return to work, the reason for the absence and progress.</p>
                    <h4><a name="_Toc69299483"></a><a name="_Toc66865818"></a>14.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IT EQUIPMENT</h4>
                    <p>IT Equipment (Laptop/Desk Top Computer and other accessories) provided to the employee to support Smart Working programme is for the exclusive use of the employees alone. The employee is not permitted to allow any family members/friends to use the IT Equipment provided to them.</p>
                    <p>When working smartly, the employee must be aware of the increased risk of security / data breach. The employee must take good care of the IT Equipment provided by the Company and ensure that it be used in accordance with the Company&rsquo;s IT Policy. The employee is also required to observe the conditions set forth in IT Policy.</p>
                    <p>The employee must have / procure internet connection that is adequate for the concerned job responsibility / accountability.<strong>&nbsp;</strong></p>
                    <p>If, while working from a designated smart workspace, the employee experiences technical issues with IT Equipment or internet access that prevent the employee from working smartly, the employee must notify his or her manager immediately. Interruptions to work caused by internet outages may require the employee to work from his/her regular office space for the remainder of the day, or until the outage is fixed.</p>
                    <p>In any case, loss of manhours due to any technical reasons at employee side, shall be compensated within a week&rsquo;s time.<strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299484"></a><a name="_Toc66865819"></a>15.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; EMPLOYEE BENEFITS, INSURANCE AND LIABILITY</h4>
                    <p>Employees working smartly will continue to receive their salary and related entitlement, including health insurance, GPA and GTLI benefits.</p>
                    <p>Should the employee sustain any injuries in their designated workspace and in conjunction with his or her regular work duties, the employee is responsible for notifying his or her manager of such injuries as soon as is practicable. The Company will not be responsible for any injuries to the employee or any third parties outside of the designated smart workspace or during the employee&rsquo;s non-working time.</p>
                    <p>Employees are advised to choose a safe and secure location to work from, and to maintain high levels of safety.</p>
                    <p>Only equipment owned by the Company and on loan to the employee is covered by the Company&rsquo;s chosen insurer. All other equipment is to be covered by the employee&rsquo;s personal insurance provider.</p>
                    <h4><a name="_Toc69299485"></a><a name="_Toc66865820"></a>16.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TIME KEEPING</h4>
                    <p>Employees will be required to accurately record all hours worked and submit accurate time records to their Managers. Failure to comply with these requirements may result in the immediate termination of the Smart Work arrangement.<strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299486"></a><a name="_Toc66865821"></a>17.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MEAL AND REST BREAKS</h4>
                    <p>Employees are expected to adhere to the meal and rest break policies set forth in the HR policy manual. Employees must take an uninterrupted meal break of 30 minutes.<strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299487"></a><a name="_Toc66865822"></a>18.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DISCONNECTION</h4>
                    <p>The employee is permitted to disconnect the work devices / IT tools during the meal break and between 11.00 PM to 6.00 AM, unless the individual working agreement is defined.<strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299488"></a><a name="_Toc66865823"></a>19.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONFIDENTIALITY AND SECURITY</h4>
                    <p>Employees working smartly are reminded that even if they are working from a designated smart workspace, they are bound by any confidentiality obligations and/or security agreements they signed in connection with their employment with the Company. Thus, consistent with the Company&rsquo;s expectations of information security for employees working in the office, employees working smartly are also expected to ensure the protection of proprietary information/data/document&nbsp;owned by the Company and its Client and accessible from their smart workplace. Steps include regular password maintenance, locked file cabinets and desks to store sensitive information, and any other measures appropriate for the job and the environment of the designated smart workspace. The Company&rsquo;s security controls and conditions for use and safeguarding of equipment, documents, and other materials apply to any device or internet system that is used to access Company&rsquo;s information technology systems and data, and all work performed using such devices or systems is subject to the Company&rsquo;s existing data security and confidentiality policies. Further, if, by virtue of responsibilities or otherwise,&nbsp;the employee comes into knowledge or possession of the sensitive personal data or information of another person, he/she shall continue to comply with the applicable data protection law.</p>
                    <p>Any questions regarding this Smart Work Policy may be directed to the employee&rsquo;s manager or the Human Resources Department <a href="mailto:hr@tecnimont.in">hr@tecnimont.in</a></p>
                    <h4><a name="_Toc69299489"></a><a name="_Toc66865824"></a>20.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CONFLICT OF INTEREST<strong>&nbsp;</strong></h4>
                    <p>It is clarified that employees working smartly shall continue to be bound by the conflict of interest restrictions and shall not, at any time, work against the interests of the Company. Accordingly, such employees shall not obtain employment or any other form of work engagement in any other organisation during the term of their employment with the Company, unless the Company has expressly allowed them to do so in writing.&nbsp;</p>
                    <p><strong>&nbsp;</strong></p>
                    <h4><a name="_Toc69299490"></a><a name="_Toc66865825"></a>21.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; WITHDRAWAL OR SUSPENSION OF SMART WORK</h4>
                    <p>The Smart Working privilege may be withdrawn or suspended for an employee at any time by the Company at its sole discretion and without assigning any reason. The Smart Working Programme may also be withdrawn or suspended on the occurrence of any of the following events:</p>
                    <ul style="list-style-type: square;">
                        <li>Smart Working may be immediately suspended if:</li>
                    </ul>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>The employee is out of office/home for an extended period</li>
                                <li>Detachment</li>
                                <li>There is damage, or loss of any designated work equipment</li>
                                <li>The employee fails to participate in any mandatory training activities</li>
                                <li>There are persistent technical problems that hinder smooth connectivity between the Company and the employee</li>
                            </ul>
                        </li>
                    </ul>
                    <ul>
                        <li>Smart Working may also be withdrawn immediately without any notice on the occurrence of any of the following events:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</li>
                    </ul>
                    <ul>
                        <li style="list-style-type: none;">
                            <ul>
                                <li>The employee&rsquo;s assignment or job requirement is not compatible with Smart Working</li>
                                <li>If the outcome of the annual performance evaluation (Employee Performance Commitment) is &ldquo;Far Below Expectations&rdquo;</li>
                                <li>If there is failure by the employee to comply with the obligations of Company&rsquo;s internal policy.</li>
                            </ul>
                        </li>
                    </ul>
                    <p>&nbsp;</p>
                    <h4><a name="_Toc69299491"></a><a name="_Toc66865826"></a>22.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; INTERPRETATION</h4>
                    <p>The Human Resource Department (HR Department) of the Company is authorized to interpret this Policy, to establish, amend and rescind any clauses relating to this Policy, and to make any other determinations that it deems necessary or desirable for the administration and implementation of this Policy. The HR Department may correct any defect, omission or reconcile any inconsistency in this Policy in the manner and to the extent it deems necessary or desirable. The decision of the HR Department in the interpretation and administration of this Policy, as described herein above, shall be final and conclusive.</p>
                    <p>It is also clarified that nothing in this policy shall affect the terms and conditions of employment of the smart&nbsp;working employees under their respective appointment letters or employment contracts, and the employees will not be entitled to any additional payment or benefits while opting for or returning from smart work arrangement for any reason. Any pre-approved reimbursement or other amounts paid to the employee in connection with the expenses incurred on smart working shall be payable only at the Company&rsquo;s discretion and will not form part of the employee&rsquo;s wages or salary or remuneration.</p>
                    <p style="text-align: center;">**************</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card col-md-8 mx-lg-auto container-fluid bg-light border border-light rounded shadow-3 mb-4">
        <div class="card-header app-h4 app-card-header">
            Employee Training Details
        </div>
        <div class="card-body">
            <div>
                @await Component.InvokeAsync("EmployeePolicyTraining")
            </div>
        </div>
    </div>
    <form asp-action="Create" method="post">
        <div class="card col-md-8 mx-lg-auto container-fluid bg-light border border-light rounded shadow-3 mb-4">
            @Html.HiddenFor(m => m.IsTrainingCompleted)
            <div class="card-header app-h4 app-card-header">
                Home internet connection info (IT prerequisite)
            </div>
            <div class="card-body">
                <div class=" text-center text-primary mb-3">
                    <button type="button" class="btn btn-outline-primary btn-sm border-white"
                            data-jqueryselector="openmodal"
                            data-modalcontainer="modalreadonlycontainer"
                            data-modalpopupwidth="rightw35"
                            data-statichtmlsourcedivid="itPreRequisite"
                            data-modaltitle="IT Pre-Requisite"
                            data-modalheader="IT Pre-Requisite"
                            >
                        <i class="fas fa-glasses"></i>
                        View IT Pre-requisites
                    </button>
                </div>
                <div class="row mb-2">
                    <div class="col-6 vcenter-item">
                        <label class="required">@Html.DisplayNameFor(m => m.ElectricityBackUp)</label>
                    </div>
                    <div class="col-6">
                        <select asp-for="ElectricityBackUp" class="Select2 form-control" asp-items="ViewBag.SelectListElectLoadShedding">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6">
                        <label class="required">@Html.DisplayNameFor(m => m.ISP)</label>
                    </div>
                    <div class="col-6">
                        @Html.HiddenFor(m => m.ISP)

                        <select id="selISP" class="Select2 form-control" asp-items="ViewBag.SelectListISP">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 vcenter-item">
                        <label class="required">@Html.DisplayNameFor(m => m.DownloadSpeed)</label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="custom-control custom-radio col-3">
                                <input type="radio" id="downloadSpeedYes" asp-for="DownloadSpeed" value="OK" class="custom-control-input">
                                <label class="custom-control-label text-primary" for="downloadSpeedYes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio col">
                                <input type="radio" id="downloadSpeedNo" asp-for="DownloadSpeed" value="KO" class="custom-control-input">
                                <label class="custom-control-label text-danger" for="downloadSpeedNo">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 vcenter-item">
                        <label class="required">@Html.DisplayNameFor(m => m.UploadSpeed)</label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="custom-control custom-radio col-3">
                                <input type="radio" id="uploadSpeedYes" asp-for="UploadSpeed" value="OK" class="custom-control-input">
                                <label class="custom-control-label text-primary" for="uploadSpeedYes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio col">
                                <input type="radio" id="uploadSpeedNo" asp-for="UploadSpeed" value="KO" class="custom-control-input">
                                <label class="custom-control-label text-danger" for="uploadSpeedNo">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 vcenter-item">
                        <label class="required">@Html.DisplayNameFor(m => m.MonthlyQuota)</label>
                    </div>
                    <div class="col-6">
                        <div class="row">
                            <div class="custom-control custom-radio col-3">
                                <input type="radio" id="monthlyQuotaYes" asp-for="MonthlyQuota" value="OK" class="custom-control-input">
                                <label class="custom-control-label text-primary" for="monthlyQuotaYes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio col">
                                <input type="radio" id="monthlyQuotaNo" asp-for="MonthlyQuota" value="KO" class="custom-control-input">
                                <label class="custom-control-label text-danger" for="monthlyQuotaNo">No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 vcenter-item">
                        <label class="required">@Html.DisplayNameFor(m => m.RouterBrand)</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" asp-for="RouterBrand" />
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-6 vcenter-item">
                        <label class="required">@Html.DisplayNameFor(m => m.RouterModel)</label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" asp-for="RouterModel" />
                    </div>
                </div>

                @if (Model.IsIphoneUser == false)
                {
                    <div class="row mb-3">
                        <div class="col-9 vcenter-item">
                            I agree to install “Microsoft Authenticator” Application on my personal mobile phone and shall share personal mobile no with the company for Two Factor Authentication
                        </div>
                        <div class="col-3 vcenter-item">
                            <div class="row ">
                                <div class="custom-control custom-radio col-6">
                                    <input type="radio" id="installMSAuthenticatorYes" asp-for="InstallMSAuthenticator" value="OK" class="custom-control-input">
                                    <label class="custom-control-label text-primary" for="installMSAuthenticatorYes">Yes</label>
                                </div>
                                <div class="custom-control custom-radio col">
                                    <input type="radio" id="installMSAuthenticatorNo" asp-for="InstallMSAuthenticator" value="KO" class="custom-control-input">
                                    <label class="custom-control-label text-danger" for="installMSAuthenticatorNo">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.HiddenFor(item => item.InstallMSAuthenticator)

                }
                <div class="row mb-2 text-danger font-weight-bold d-none itPreReqError vcenter-item">
                    <label style="margin-bottom:0px!important">Mandatory IT pre-requisites not met . Cannot avail Smart Work Policy.</label>&nbsp;
                    <button type="button" class="btn btn-outline-primary btn-sm border-white "
                            data-jqueryselector="openmodal"
                            data-modalcontainer="modalreadonlycontainer"
                            data-modalpopupwidth="rightw25"
                            data-area=""
                            data-controller=""
                            data-action=""
                            data-id=""
                            data-statichtmlsourcedivid="reasons"
                            data-modaltitle="Reasons"
                            data-modalheader="Reasons"
                            data-parameter="">
                        <i class="fas fa-glasses"></i>
                        View Reasons
                    </button>
                </div>

                <div class="row mb-2 text-primary font-weight-bold d-none itPreReqSuccess vcenter-item">
                    <label style="margin-bottom:0px!important">Mandatory IT pre-requisites test successful.</label>
                </div>

            </div>
        </div>
        @*@if (Model.IsTrainingCompleted)*@

        <div class="col-md-6 mx-lg-auto mb-4">
            <p class="card-text">
                I have read the Policy on Smart Working and I am willing to opt for the same and abide by its terms.
            </p>
        </div>
        <div class="col-md-4 container">
            <div class="row ">
                <div class="col-4 text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio1" asp-for="PolicyAccepted" value="true" class="custom-control-input" required>
                        <label class="custom-control-label text-primary " for="customRadio1">Yes</label>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <div class="custom-control custom-radio">
                        <input type="radio" id="customRadio2" asp-for="PolicyAccepted" value="false" class="custom-control-input" required>
                        <label class="custom-control-label text-danger" for="customRadio2">No</label>
                    </div>
                </div>
                <div class="col-4 text-center">
                    <button type="submit" id="acceptSWPBtn" disabled class="btn btn-sm btn-primary">Submit</button>
                </div>
            </div>
            <div class="row ">
                <span asp-validation-for="PolicyAccepted" class="text-danger"></span>
            </div>
        </div>

    </form>
</div>
<div id="itPreRequisite" class="d-none">
    <p><strong>Internet Service</strong></p>
    <ul>
        <li>&nbsp;Cable Ethernet or Fibre Internet Service</li>
        <li>&nbsp;10Mbps Upload and 10Mbps Download Speed (minimum speed required); preferred speed is 30Mbps and above.</li>
        <li>&nbsp;Unlimited Data Quota or 3000GB Monthly Limit</li>
        <li>&nbsp;Recommended Plan : JIO Fibre 30Mbps (or equivalent plan from another service provider)</li>
    </ul>
    <p><strong>Router Configuration</strong></p>
    <ul>
        <li>&nbsp;Dual Band Wi-Fi (2.5GHz and 5.0GHz) Gigabit MU-MIMO</li>
        <li>&nbsp;Encryption Support : WPA2 with AES</li>
        <li>&nbsp;Recommended Model: JIO ROUTER OR TP-LINK ARCHER C Series of Routers (Or equivalent from another manufacture)</li>
    </ul>
    <p><strong>Connectivity</strong></p>
    <p style="padding-left: 40px;">Whenever possible always connect your PC/Laptop via Ethernet Cable to Internet Router (Instead of using Wi-Fi)</p>
    <p><strong>Power Backup</strong></p>
    <p style="padding-left: 40px;">If you are leaving in an Area where frequent power cuts or power fluctuations are happening, then you must create provision of UPS/Inventor power backup for IT equipment&rsquo;s</p>
    <p>&nbsp;</p>
    <p><strong>Following should be strictly avoided by the employee</strong></p>
    <ul>
        <li>&nbsp;BSNL/MTNL ADSL based Internet Service</li>
        <li>&nbsp;Use of Wi-Fi Internet Dongles</li>
        <li>&nbsp;Use of iPhone or Android Mobile hotspot.</li>
        <li>&nbsp;Subscription to Internet Plan which offers&nbsp;<strong><u><span style="background-color: #ffff00;">UPLOAD</span>&nbsp;</u></strong>speed less than 10Mbps.</li>
    </ul>
    <p>&nbsp;</p>
    <p>Use of mobile hotspot and Dongles allowed only in case primary internet service is failed or user is away from the designated home workstation.</p>
</div>

<div id="reasons" class="d-none ">
    <div class="mt-3">
        <p><strong>Reason(s) for you not being able to avail Smart Work Policy could be one of the following :-</strong></p>
        <ol>
            <li>Mandatory trainings not completed.</li>
            <li>MTNL/BSNL ADSL or Mobile Hotspot selected as Internet Service Provider.</li>
            <li>Download speed is not &gt;= 10Mbps</li>
            <li>Upload speed is not &gt;= 10Mbps</li>
            <li>Monthly quota is not &gt;= 200GB</li>
            <li>Router Brand is blank</li>
            <li>Router Model is blank</li>
            <li>Power Backup not selected</li>
            <li>Company has not provided you a mobile and you do not agree to install "Microsoft Authenticator" on you personal mobile</li>
        </ol>
    </div>
</div>
<div id="itPreRequisite" class="d-none">
    <p><strong>Internet Service</strong></p>
    <ul>
        <li>&nbsp;Cable Ethernet or Fibre Internet Service</li>
        <li>&nbsp;10Mbps Upload and 10Mbps Download Speed (minimum speed required); preferred speed is 30Mbps and above.</li>
        <li>&nbsp;Unlimited Data Quota or 3000GB Monthly Limit</li>
        <li>&nbsp;Recommended Plan : JIO Fibre 30Mbps (or equivalent plan from another service provider)</li>
    </ul>
    <p><strong>Router Configuration</strong></p>
    <ul>
        <li>&nbsp;Dual Band Wi-Fi (2.5GHz and 5.0GHz) Gigabit MU-MIMO</li>
        <li>&nbsp;Encryption Support : WPA2 with AES</li>
        <li>&nbsp;Recommended Model: JIO ROUTER OR TP-LINK ARCHER C Series of Routers (Or equivalent from another manufacture)</li>
    </ul>
    <p><strong>Connectivity</strong></p>
    <p style="padding-left: 40px;">Whenever possible always connect your PC/Laptop via Ethernet Cable to Internet Router (Instead of using Wi-Fi)</p>
    <p><strong>Power Backup</strong></p>
    <p style="padding-left: 40px;">If you are leaving in an Area where frequent power cuts or power fluctuations are happening, then you must create provision of UPS/Inventor power backup for IT equipment&rsquo;s</p>
    <p>&nbsp;</p>
    <p><strong>Following should be strictly avoided by the employee</strong></p>
    <ul>
        <li>&nbsp;BSNL/MTNL ADSL based Internet Service</li>
        <li>&nbsp;Use of Wi-Fi Internet Dongles</li>
        <li>&nbsp;Use of iPhone or Android Mobile hotspot.</li>
        <li>&nbsp;Subscription to Internet Plan which offers&nbsp;<strong><u><span style="background-color: #ffff00;">UPLOAD</span>&nbsp;</u></strong>speed less than 10Mbps.</li>
    </ul>
    <p>&nbsp;</p>
    <p>Use of mobile hotspot and Dongles allowed only in case primary internet service is failed or user is away from the designated home workstation.</p>
</div>

<style>
    button:disabled {
        cursor: not-allowed;
        color: red;
    }

    form label.required:after {
        color: red;
        content: "*";
    }
    table, th, td {
        border: 1px solid black;
    }
</style>
@section Scripts
{

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">

        $(document).ready(function () {
            var isTrainingCompleted;
            validateITPreRequisite();
            isTrainingCompleted = $("#IsTrainingCompleted").val();
            //if (isTrainingCompleted == "False") {
                 //return;
            //}
            $("#ElectricityBackUp").change(validateITPreRequisite);
            $("#selISP").change(validateITPreRequisite);

            $('input[type=radio][name=DownloadSpeed]').change(validateITPreRequisite);
            $('input[type=radio][name=UploadSpeed]').change(validateITPreRequisite);
            $('input[type=radio][name=MonthlyQuota]').change(validateITPreRequisite);
            $('input[type=radio][name=InstallMSAuthenticator]').change(validateITPreRequisite);

            $("#RouterBrand").change(validateITPreRequisite);
            $("#RouterModel").change(validateITPreRequisite);
        });

        function validateITPreRequisite() {
             var installMSAuthenticatorVal = $('input[type=radio][name=InstallMSAuthenticator]').length == 0 ? "OK" : $('input[type=radio][name=InstallMSAuthenticator]:checked').val();
            if (installMSAuthenticatorVal === undefined)
                installMSAuthenticatorVal = "KO";
             if ($("#ElectricityBackUp").val().length == 0 ||
                $("#selISP").val() != "OK" ||

                $('input[type=radio][name=DownloadSpeed]:checked').val() != "OK" ||
                $('input[type=radio][name=UploadSpeed]:checked').val() != "OK" ||
                $('input[type=radio][name=MonthlyQuota]:checked').val() != "OK" ||
                installMSAuthenticatorVal != "OK" ||

                $("#RouterBrand").val().length == 0 ||
                $("#RouterModel").val().length == 0

            ) {
 
                $(".itPreReqError").removeClass("d-none");
                $(".itPreReqSuccess").addClass("d-none");
                $("#acceptSWPBtn").attr("disabled", true);
 
            }
            else {
                 var selectedISP = $("#selISP option:selected").text();
                 $("#ISP").val(selectedISP);
                $(".itPreReqError").addClass("d-none");
                $(".itPreReqSuccess").removeClass("d-none");

                if ($("#IsTrainingCompleted").val() == "True")
                    $("#acceptSWPBtn").removeAttr("disabled");
 
            }


        }
    </script>
}
