@*@model TCMPLApp.WebApp.Models.BGUsersDetailViewModel*@
@inject TCMPLApp.WebApp.Services.SharedViewLocalizer localizer

@Html.AntiForgeryToken()

<div class="card">
    <div class="vertical-space-5"></div>    
    <div class="card-deck">
        <div class="card shadow col-md-6 col-xl-8">
            <div class="card-block">
                <div class="row">
                    <div class="form-group col-mb-12 col-xl-6">
                       @* <div class="dt-met">@Html.DisplayNameFor(model => model.BGMaster.PBgdate)</div>
                        <div class="dd-met">@Html.DisplayFor(model => model.BGMaster.PBgdate)</div>*@
                    </div>                       
                </div>                    
            </div>
        </div>
        <div class="card shadow col-md-6 col-xl-4">
            <div class="card-block">
                <div class="row">
                    <div class="form-group col-mb-12 col-xl-12">
                        @*<div class="dt-met">@Html.DisplayNameFor(model => model.BGAmendment.PAmendmentnum)</div>
                        <div class="dd-met">@Html.DisplayFor(model => model.BGAmendment.PAmendmentnum)</div>*@
                    </div>
                </div>               
            </div>
        </div>
    </div>
</div>